extends layout/mainFrame

block append css
  link(rel="stylesheet",href="css/jquery.simplyscroll.css",media="all",type="text/css")
  link(href='css/car.css', rel='stylesheet', media='screen')
block append js
  script(type="text/javascript",src="js/jquery.simplyscroll.min.js")
  

block append content
  .container(style='padding: 10px 0px;')
    .row-fluid
        .span9
          .row-fluid
            //汽车图片 
            h4(style='color: #4083A9;margin-bottom:10px')
              img(src='img/dasAuto.png', alt='dasAuto',style="padding:0 5px 3px 0")
              span(style="color:#666666") #{carModelLv1.brandCname}
              &nbsp;
              span #{carModelLv1.cname}
            .span8(style='margin: 0px;padding:20px;width:440px;background-color:#ffffff;border-radius:3px')
              #myCarousel.carousel.slide(style="margin-bottom:0px")
                //Carousel items
                #single(style="height: 300px; width: 400px")
                  .carousel-inner
                    .active.item
                      img(src='img/car1.jpg')
                    .item
                      img(src='img/car2.jpg')
                    .item
                      img(src='img/car3.jpg')
                    .item
                      img(src='img/car4.jpg')
                  //Carousel nav
                  a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
                  a.carousel-control.right(href='#myCarousel', data-slide='next') ›
                 //汽车详情
                #description(style="margin-top:20px;padding-left:18px;width:400;height:30px")
                  h4 车型外观图片

            .span4
              ul.nav.nav-tabs.nav-stacked.padding12px
                li
                  h5 市场价：13.18万 - 22.58万
                li
                  h5 网站价：12.18万 - 20.58万
                li
                  h5 排量：1.6L 1.4T 1.8T 2.0T
                li
                  h5 颜色：
                    p(style="color:red;display:inline")&nbsp;&nbsp;红
                    p(style="color:blue;display:inline")&nbsp;&nbsp;蓝
                    p(style="color:back;display:inline")&nbsp;&nbsp;黑
                li
                  h6(style="padding-left:10px;margin-top:10px;padding-right:10px")&nbsp;&nbsp;大众CC是一款标准的轿跑车，将轿车的稳定性与跑车的灵敏度完美结合。它采用4门设计，舒适动感；内饰具有明显运动风格，延续了大众汽车高档商务轿车系列车型的风格，色彩鲜明的高级真皮跑车座椅以及真皮智能运动型方向盘彰显了大众CC速度与动感的特征。此外，大众CC和 配备了许多高科技配置，为驾乘者提供尽可能方便舒适的驾乘体验。
          //库存列表 
          <legend>库存列表</legend>
          table.table
            thead
              tr
                th 品种
                th 价格范围
                th 库存数量
            tbody
              each item,index in carModelLv2
                tr(style='cursor: pointer;', onclick="focusTr(this,'tr#{index}')")
                  td #{item.fullName}
                  td #{item.carPriceMin}万 - #{item.carPriceMax}万
                  td #{item.stockCount}
                  td
                    i.icon-chevron-right
                tr(id="tr#{index}",style='display: none; background-color: rgb(210,210,200);')
                  td(colspan='4')
                    select.span2.btn-small(name="carModelLv3Name")
                      option 车型
                      each carModelLv3Name in item.carModelLv3NameList
                        option #{carModelLv3Name}
                    select.span2.btn-small(name="outsideColorName")
                      option 外观颜色
                      each outsideColorName in item.outsideColorList
                        option #{outsideColorName}
                    select.span2.btn-small(name="insideColorName")
                      option 内饰颜色
                      each insideColorName in item.insideColorList
                        option #{insideColorName}
                    each shopStockView in item.shopStockList
                      .well(mode="#{shopStockView.carModelLv3FullName}",outColor="#{shopStockView.carOutsideColorName}",inColor="#{shopStockView.carInsideColorName}")
                        a(href='./shopinfo.html')
                          h4 #{shopStockView.shopName}
                        table.table(style='background-color: inherit;')
                          thead
                            tr
                              th 车型
                              th 变速箱
                              th 发动机
                              th 外观颜色
                              th 内饰颜色
                              th 库存(现货/在途)
                              th 价格
                          tbody
                            tr
                              td
                                b #{shopStockView.carModelLv3FullName}
                              td #{shopStockView.driveType}
                              td #{shopStockView.gearType}
                              td #{shopStockView.carOutsideColorName}
                              td #{shopStockView.carInsideColorName}
                              td #{shopStockView.carOnOrderNum} / #{shopStockView.carOnHandeNum}
                              td(width='110px')
                                span(style='color: #ec6197; font-size: 20pt;')  #{shopStockView.carPrice}万
                            tr
                              td(colspan='7')
                                h5 附赠信息：送进口贴膜，2年免费维护以及100公里油卡
                              td(colspan='7')
                                input.btn.pull-right(data-toggle='modal', data-target='#myModal', type='button', value='预定')
        .span3
          //
             相关其他车辆 
          legend
            h5
              p(style="color:#444444;display:inline")更多&nbsp;&nbsp;
              相关车型
          ul.thumbnails
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
          ul.thumbnails
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
          legend
            h5
              p(style="color:#444444;display:inline")更多&nbsp;&nbsp;
              该4s店其他车型
          ul.thumbnails
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
          ul.thumbnails
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
    #myModal.modal.hide.fade(style='left: 40%; width: 780px;')
      .modal-body(style='border-radius: 4px 4px 4px 4px;')
        ul.thumbnails(style='margin-left: 0px; margin-bottom: 0px;')
          li.span3(style='background-color: #ec6197; width: 250px; margin-left: 0px; margin-bottom: 0px;')
            div(style='height: 200px; margin: 20px;')
              h3(style='color: #ffffff;') 网站指导价购买
              p(style='color: #ffffff;') 进行订金的支付，即可预定该车。。。。。。
            //
              <p><a href="order_car.html" class="btn btn-primary pull-right">进入</a></p>
          li.span3(style='background-color: #888888; width: 250px; margin-left: 0px; margin-bottom: 0px;')
            div(style='height: 200px; margin: 20px;')
              h3(style='color: #ffffff;') 提交我的价格
              p(style='color: #ffffff;') 提交我理想的价格，如果有4s店有合适的活动会主动联系您。。。。。。
            //
              <p><a href="submit_price.html" class="btn btn-primary pull-right">进入</a></p>
          li.span3(style='background-color: #4083a9; width: 250px; margin-left: 0px; margin-bottom: 0px;')
            div(style='height: 200px; margin: 20px;')
              h3(style='color: #ffffff;') 优惠500元购买
              p(style='color: #ffffff;') 领取优惠券，在谈好价格的基础上出示可以直接抵用现金。
            //
              <p><a href="off_price.html" class="btn btn-primary pull-right">进入</a></p>
    script.
      var currentFocusTr = "";
      function focusTr(elment,trId){
        //如果现在已经选择了则关闭
        if(currentFocusTr != ""){
          if(currentFocusTr != trId){
            $("#" + currentFocusTr).hide();
          }
          else{
            $("#" + trId).fadeOut();
          }
        }
        //如果选择的不是当前tr才显示focus新的tr
        if(currentFocusTr != trId){
          $("body").animate({scrollTop: $(elment).offset().top -58},1000);
          $("#" + trId).fadeIn();
           currentFocusTr = trId;
        }
        else{
         currentFocusTr = "";
        }
      }
      $('.carousel').carousel();
      $('td input').tooltip();
      $("select[name='carModelLv3Name'],select[name='outsideColorName'],select[name='insideColorName']")
      function changeStockCondition(){
         
      }
