extends layout/mainFrame

block append css
  link(rel="stylesheet",href="css/jquery.simplyscroll.css",media="all",type="text/css")
  link(href='css/car.css', rel='stylesheet', media='screen')

block append js
  script(type="text/javascript",src="js/jquery.simplyscroll.min.js")

block append content
  -var firstActivedTab = "";
  .container(style='padding: 10px 0px;')
    .row-fluid
        .span9
          .row-fluid
            img(src='img/slectcar.png', alt='slectcar',style="margin-bottom:10px")
            //汽车图片 
            h4(style='color: #4083A9;margin-bottom:10px')
              img(src='img/dasAuto.png', alt='dasAuto',style="padding:0 5px 3px 0")
              span(style="color:#666666") #{carModelLv1.brandCname}
              &nbsp;
              span #{carModelLv1.cname}
            .span8(style='margin: 0px;padding:0px;width:440px;background-color:#ffffff;border-radius:3px')
              #myCarousel.carousel.slide(style="margin-bottom:0px")
                //Carousel items
                #single(style="height: 270px; width: 440px")
                  div.carousel-inner
                     each item,index in carModelLv1Img
                       div.item
                          img(style="width: 440px; height: 270px;",src='img/carModelLv1Imgs/#{item.imgPath}')
                          if !!item.description
                            div.carousel-caption
                                p  #{item.description}
                  //Carousel nav
                  a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
                  a.carousel-control.right(href='#myCarousel', data-slide='next') ›
            .span4
              ul.nav.nav-tabs.nav-stacked.padding12px
                li
                  h5 市场价：#{carExtendInfo.factoryMinPrice}万 - #{carExtendInfo.factoryMaxPrice}万
                li
                  h5 网站价：#{carExtendInfo.carMinPrice}万 - #{carExtendInfo.carMaxPrice}万
                li
                  h5 排量：
                     each item in carExtendInfo.carModelLv2NameList
                       | #{item}&nbsp;
                li(style="margin-top: 20px;padding-left: 10px;")
                  h5(style="display:inline;padding-left: 0px;") 颜色:
                    each item in carExtendInfo.colorList
                      if item.colorCname
                        div(name="colorDiv",data-toggle="tooltip",data-placement="top",data-original-title="#{item.colorCname}",style="width:23px;height:17px;background-color:#{item.colorRgb};display:inline-block;box-shadow: 2px 2px 2px #888888;margin-right:4px;")
                li
                  h6(style="padding-left:10px;margin-top:10px;padding-right:10px")&nbsp;&nbsp;#{carModelLv1.description}
        .span3
          //
             相关其他车辆 
          legend
            h5
              p(style="color:#444444;display:inline")更多&nbsp;&nbsp;
              相关车型
          <ul class='thumbnails'>
          each item,i in similarCarModelLv1
            if i < 8
                li.span6
                  a.thumbnail(href="./car?id=#{item.id}")
                    img#img1(title="#{item.cname}",data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car/#{item.id}.png')
                if i != 0 && (i+1) % 2 == 0
                  </ul><ul class='thumbnails'>
          </ul>
    //库存列表
    legend 库存列表
    ul.nav.nav-pills#list
      each item,index in carModelLv2
        li
          a(id="tab#{item.id}",href="##{item.id}") #{item.fullName}
    div.tab-content
      each item,index in carModelLv2
        div.tab-pane(id=item.id)
          table.table
            thead
              tr
                th(style="width:280px")
                  p 经销商
                th(style="width:180px")
                  p 车型
                th(style="width:100px")
                  p 变速箱
                th(style="width:55px")
                  p 内饰
                th(style="width:55px")
                  p 外饰
                th(style="width:90px")
                  p 配置说明
                th(style="width:90px")
                  p 价格
                th(style="width:120px")
                  p 库存(现货/在途)
            tbody
              each shopStockView in item.shopStockList
                  if (shopStockView.carOnHandNum + shopStockView.carOnOrderNum) > -1
                    if(firstActivedTab == "")
                       - firstActivedTab = item.id
                    tr#shopStockTr(style='cursor: pointer;', onclick="focusTr(this,'tr#{shopStockView.id}')")
                      td #{shopStockView.shopName}
                      td #{shopStockView.carModelLv3FullName}
                      td #{shopStockView.gearType}
                      td #{shopStockView.carInsideColorName}
                      td #{shopStockView.carOutsideColorName}
                      td 点击展开
                      td
                        span(style="vertical-align: middle;color:#ec6197;font-size:20px") #{shopStockView.carPrice}万
                        span(style="vertical-align: middle;color:#666666;font-size:15px;text-decoration: line-through") #{shopStockView.factoryPrice}万

                      td #{shopStockView.carOnHandNum}/#{shopStockView.carOnOrderNum}
                    tr.shopStockTr(id="tr#{shopStockView.id}",style='display: none; background-color: #f8f8f8;')
                      td(colspan='7')
                        table
                          tbody
                            tr.detail
                              td(style="color:#555555;font-weight: bold") 详细配置说明
                              td
                                | #{shopStockView.carAdditionsText}
                                br
                                | #{shopStockView.carAddition}
                      td(colspan='1',style="")
                        a.btn.btn-small.btn-primary(onclick="orderClick('#{shopStockView.id}')",href="#myModal",role="button",data-toggle="modal",style="padding-left: 8px;padding-right: 8px;") 预定
              else
                tr
                  td(colspan='8') 暂无库存
    #myModal.modal.hide.fade(style='left: 42%; width: 780px')
      .modal-body(style='border-radius: 4px 4px 4px 4px;max-height:500px')
        ul.thumbnails(style='margin-left: 0px; margin-bottom: 0px;max-height:500px')
          li.span3(onmouseover="switchOrderProcessEvent('userOrder')",onclick="$('#userOrderForm').submit();",style='background-color: #ec6197; width: 250px; margin-left: 0px; margin-bottom: 0px;cursor:pointer;')
            div(style='height: 200px; margin: 20px;')
              br
              h3(style='color: #ffffff;') 网站指导价购买
              br
              p(style='color: #ffffff;') 按网站以团购的角度和4S店协定的市面上最优惠的价格购车
          li.span3(onmouseover="switchOrderProcessEvent('submitPrice')",onclick="$('#userSubmitPriceForm').submit();",style='background-color: #888888; width: 250px; margin-left: 0px; margin-bottom: 0px;cursor:pointer;')
            div(style='height: 200px; margin: 20px;')
              br
              h3(style='color: #ffffff;') 提交我的价格
              br
              p(style='color: #ffffff;') 合理范围之内提交您的价格，由我们全力促成该价格的成交
          li.span3(onmouseover="switchOrderProcessEvent('offTicket')",onclick="$('#userOffTicketForm').submit();",style='background-color: #4083a9; width: 250px; margin-left: 0px; margin-bottom: 0px;cursor:pointer;')
            div(style='height: 200px; margin: 20px;')
              br
              h3(style='color: #ffffff;') 优惠1000元购买
              br
              p(style='color: #ffffff;') 通过网站寻找合适车辆和价格达成交易由网站返现1000元
          img#orderProcessImg(src='img/slectWay.png', alt='slectWay',style="margin-top:10px")
          div
            p#orderProcessDoc1(style="color:#888888;margin:10px 30px 0px 30px") 此购买方式中的价格是由经销商给我们的协议价格，优惠幅度比市面上都要低很多，
              | 省去顾客到店谈价的过程，直接让最优惠最让利的价格呈现在客户眼前。网站显示的车辆剩余数量即为4S店库存事实数据。用户在提交订单后,即可凭网站生成
              | 的订单号前往所选经销商提车。所有货款在4S店结清。
            p#orderProcessDoc2(style="color:#777777;margin:10px 30px 0px 30px;text-align:center") （温馨提示：三种购物方式只能选择一种哦）
    form(id="userOrderForm",method="GET",action="./userorder")
        input(type="hidden",name="type",value="init")
        input(type="hidden",name="id")
    form(id="userSubmitPriceForm",method="GET",action="./usersubmitprice")
        input(type="hidden",name="type",value="init")
        input(type="hidden",name="id")
    form(id="userOffTicketForm",method="GET",action="./useroffticketConfirm",target="_blank")
        input(type="hidden",name="id")
    script.
      $('div[name="colorDiv"]').tooltip();
      //预定按钮事件
      function orderClick(id){
        $("#userOrderForm input[name='id']").val(id);
        $("#userSubmitPriceForm input[name='id']").val(id);
        $("#userOffTicketForm input[name='id']").val(id);
      }

      //tr下滑效果
      var currentFocusTr = "";
      function focusTr(elment,trId){
        //如果现在已经选择了则关闭
        if(currentFocusTr != ""){
          if(currentFocusTr != trId){
            $("#" + currentFocusTr).hide();
          }
          else{
            $("#" + trId).fadeOut(0);
          }
        }
        //如果选择的不是当前tr才显示focus新的tr
        if(currentFocusTr != trId){
          //$("body").animate({scrollTop: $(elment).offset().top -58},1000);
          $("#" + trId).fadeIn(0);
           currentFocusTr = trId;
        }
        else{
         currentFocusTr = "";
        }
      }
      $('.carousel').carousel();
      $('td input').tooltip();
      $("select[name='carModelLv3Name'],select[name='outsideColorName'],select[name='insideColorName']");

      //tab页切换
      $('#list a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });
      $('#tab#{firstActivedTab}').tab('show');

      //购买方式鼠标悬停切换流程图片
      function switchOrderProcessEvent(type){
        if(type == "userOrder"){
            $("#orderProcessImg").attr("src","img/slectWay.png");
            $("#orderProcessDoc1").html("此购买方式中的价格是由经销商给我们的协议价格，优惠幅度比市面上都要低很多，省去亲到店谈价的过程，直接让最优惠最让利的价格呈现在亲眼前。网站显示的车辆剩余数量即为4S店库存事实数据。用户在提交订单后,即可凭网站生成的订单号前往所选经销商提车。所有货款在4S店结清。");
            $("#orderProcessDoc2").html("（温馨提示：三种购物方式只能选择一种哦）");
      }
        else if(type == "submitPrice"){
            $("#orderProcessImg").attr("src","img/submitMyPriceStep2.png");
            $("#orderProcessDoc1").html("如果亲对网站指导价不满意，可以直接和经销商通过网站沟通价格（此处只有一个来回的询价过程），向经销商提交自己心里的意向报价，最后拿到订单号在4S店中完成交易");
            $("#orderProcessDoc2").html("（温馨提示：三种购物方式只能选择一种哦）");
        }
        else if(type == "offTicket"){
            $("#orderProcessImg").attr("src","img/free500step2.png");
            $("#orderProcessDoc1").html("如果亲对前两种方式都不满意，我们网站还有第三种方式方式提供给大家。亲们可自行去4S店商讨价格，网站承诺无论以多少价格成交，均可凭网站生成的优惠券代码直接返还1000元现金");
            $("#orderProcessDoc2").html("（温馨提示：三种购物方式只能选择一种哦）");
        }
      }