extends layout/mainFrame

block append css
  link(href='css/index.css', rel='stylesheet', media='screen')
  link(rel="stylesheet",href="css/jquery.simplyscroll.css",media="all",type="text/css")
block append js
  script(type="text/javascript",src="js/jquery.simplyscroll.min.js")
  

block append content
  header#overview.jumbotron.subhead
    .container
      ul#scroller(style='margin: 25px 0 0 0;')
        li
          img(src="img/car1.jpg")
        li
          img(src="img/car2.jpg")
        li
          img(src="img/car3.jpg")
        li
          img(src="img/car2.jpg")
        li
          img(src="img/car2.jpg")

  .container(style='padding: 0px 0;')
    //
      div(align='center')
        img(src='img/progress.png')
    .row-fluid
      .span8
        div(style="height: 10px;padding-top: 15px;") 
          ul.nav.nav-tabs(style="border-bottom:0px;")
            li(id="city")
              a(href="#")
                h4 城市
                - var cityname = "不限"
                each dicCity in allDicCitys
                  if dicCity.id == conditionParams.city
                    - cityname = dicCity.cityCname
                h6 #{cityname}
            li(id="brand")
              a(href="#")
                h4 品牌
                - var brandname = "不限"
                each brand in allBrands
                  if brand.id == conditionParams.carBrand
                    - brandname = brand.cname
                h6 #{brandname}
            li(id="model")
              a(href="#") 
                h4 车型
                - var carmodelname = "不限"
                each carModel in carModels
                  if carModel.id == conditionParams.carModelLv1
                    - carmodelname = carModel.cname
                h6 #{carmodelname}
            li(id="price")
              a(href="#") 
                h4 价格
                - var priceName = "不限"
                if !!conditionParams.priceMin
                  - priceName = conditionParams.priceMin + "万"
                  if conditionParams.priceMin == '50'
                    - priceName = priceName + "以上"
                  else
                    - priceName = priceName + "~" + conditionParams.priceMax + "万" ;
                h6 #{priceName}
      .span4
        .pagination.pagination-small.pagination-right(style='float:right;width:180px;margin: 35px 0 0 0;')
           span(style='float:left;height: 25px;padding:6px;') #{carModelViews.currentPage} / #{carModelViews.pageCount}
           ul
             if carModelViews.firstPage
               li.disabled
                 a(href='#') 前一页
             -else
               li
                 a(href='#',onclick="conditionSelect('pageIndex','#{carModelViews.currentPage - 1}',true)") 前一页
                 
             if carModelViews.lastPage
               li.disabled
                 a(href='#') 后一页
             -else
               li
                 a(href='#',onclick="conditionSelect('pageIndex','#{carModelViews.currentPage + 1}',true)") 后一页
    div(id="divHolder",style="display:none;height: 30px;background-image: url(img/condition-bg.png);")
      div(id="cityDiv",style="display:none;height: 20px;padding:5px;")
        a(href="#",onClick="conditionSelect('city','',true,true);",style="color: #FFFFFF;padding-left: 7px;") 不限
        each dicCity in allDicCitys
          a(href="#",onClick="conditionSelect('city','#{dicCity.id}',true,true);",style="color: #FFFFFF;padding-left: 7px;")= dicCity.cityCname
      div(id="brandDiv",style="display:none;height: 20px;padding:5px;")
        a(href="#",,onClick="conditionSelect('carModel','',false);conditionSelect('carBrand','',true);",style="color: #FFFFFF;padding-left: 7px;") 不限
        each brand in allBrands
          a(href="#",onClick="conditionSelect('carModel','',false);conditionSelect('carBrand','#{brand.id}',true,true);",style="color: #FFFFFF;padding-left: 7px;")= brand.cname
      div(id="modelDiv",style="display:none;height: 20px;padding:5px;")
        a(href="#",onClick="conditionSelect('carModel','',true,true);",style="color: #FFFFFF;padding-left: 7px;") 不限
        each carModel in carModels
          a(href="#",onClick="conditionSelect('carModel','#{carModel.id}',true,true);",style="color: #FFFFFF;padding-left: 7px;")= carModel.cname
      div(id="priceDiv",style="display:none;height: 20px;padding:5px;")
        a(href="#",onClick="conditionSelect('priceMin','',false);conditionSelect('priceMax','',true,true);",style="color: #FFFFFF;padding-left: 7px;") 不限
        a(href="#",onClick="conditionSelect('priceMin','1',false);conditionSelect('priceMax','5',true,true);",style="color: #FFFFFF;padding-left: 7px;") 1万 ~ 5万
        a(href="#",onClick="conditionSelect('priceMin','5',false);conditionSelect('priceMax','10',true,true);",style="color: #FFFFFF;padding-left: 7px;") 5万 ~ 10万
        a(href="#",onClick="conditionSelect('priceMin','10',false);conditionSelect('priceMax','20',true,true);",style="color: #FFFFFF;padding-left: 7px;") 10万 ~ 20万
        a(href="#",onClick="conditionSelect('priceMin','20',false);conditionSelect('priceMax','50',true,true);",style="color: #FFFFFF;padding-left: 7px;") 20万 ~ 50万
        a(href="#",onClick="conditionSelect('priceMin','50',false);conditionSelect('priceMax','',true,true);",style="color: #FFFFFF;padding-left: 7px;") 50万以上
    hr(style='margin: 0px 0px 17px;')
     //列表
    .row-fluid
      <ul class='thumbnails'> 
      each carModelView, i in carModelViews.items
        li.span3
          a.thumbnail(href='./carinfo.html', style='padding: 0px;')
            div(name='hoverdiv', style='height: 190px; width: 220px;')
              div(name='imgdiv', style='width: 200; position: absolute;')
                img(data-src='holder.js/210x140', alt='210x140', style='width: 210px; height: 150px;padding: 2px 2px 0px;', src='img/suteng.jpg')
                .caption
                  h6.text-center 市场价:#{carModelView.factoryPriceMin}万 ～ #{carModelView.factoryPriceMax}万
                  h6.text-center 网站价:#{carModelView.shopPriceMin}万 ～ #{carModelView.shopPriceMax}万
              div(name='coverdiv', style='width: 200; position: absolute; display: none;')
                div(style='height: 110px; padding: 20px;')
                  strong #{carModelView.brandCname} #{carModelView.cname}
                  h6 1.4T 1.8T 2.0T
                  h6 横置前驱
                  h6 7档双离合
                .caption(style='background-image: url(img/hover-price.png); padding: 0px; width: 220px; border-radius: 0px 0px 4px 4px;')
                  h6.text-center(style='color: #ffffff;') 市场价:13.18万 ～ 22.58万
                  h6.text-center(style='color: #ffffff; border-radius: 4px 4px 4px 4px;') 网站价:12.18万 ～ 20.58万
          h5 #{carModelView.brandCname} #{carModelView.cname}
        if i != 0 && (i+1) % 4 == 0
          </ul><ul class='thumbnails'>
      </ul>

  form(action="/",method="get",id="conditionform")
    input(type="hidden",name="pageIndex",id="form_pageIndex",value="#{conditionParams.pageIndex}")
    input(type="hidden",name="carBrand",id="form_carBrand",value="#{conditionParams.carBrand}")
    input(type="hidden",name="carModelLv1",id="form_carModel",value="#{conditionParams.carModelLv1}")
    input(type="hidden",name="priceMin",id="form_priceMin",value="#{conditionParams.priceMin}")
    input(type="hidden",name="priceMax",id="form_priceMax",value="#{conditionParams.priceMax}")
    input(type="hidden",name="city",id="form_city",value="#{conditionParams.city}")
        
  footer.footer
    .container
      p 杭州鲸硅科技有限公司出品

  script.
    //提交筛选事件
    function conditionSelect(type,value,needSubmit,needInitPage){
      $("#form_" + type).val(value);
      
      if(needInitPage){
        $("#form_pageIndex").val('');
      }
      
      if(needSubmit == true){
        $("#conditionform").submit();
      }
    }
    
    //筛选条件选择效果
    var currentHoverBtn = null;
    var tabNames = ["city","brand","model","price"];
    function initEventForTabs(){
      for(i in tabNames){
        var name = tabNames[i];
        $("#" + name).hover(
          function(){
            currentHoverBtn = $(this).attr("id");
          },
          function(){
            currentHoverBtn = null;
          }
        );
      }
    }
    initEventForTabs();
    $(document).click(function(){
      //为了效果，如果需要显示菜单就用div撑住高度，避免页面乱动
      if(currentHoverBtn != null){
        //$("#divHolder").css({height:"30px",display:""});
        $("#divHolder").slideDown();
      }
      else{
        $("#divHolder").slideUp('slow');
      }

      //先隐藏
      for(i in tabNames){
        var name = tabNames[i];
        if(currentHoverBtn != name){
          $("#" + name).removeClass("active");
          $("#" + name + "Div").hide();
        }
      }
      
      //再显示
      for(i in tabNames){
        var name = tabNames[i];
        if(currentHoverBtn == name){
          $("#" + name).addClass("active");
          $("#" + name + "Div").show();
        }
      }
    });
    
    //汽车图片浮动效果
    $("div[name='hoverdiv']").each(function(index,value){
      $(value).hover(function(){
        $(this).find("div[name='imgdiv']").fadeTo('slow',0.03);
        $(this).find("div[name='coverdiv']").fadeToggle('slow');
      },function(){
        $(this).find("div[name='imgdiv']").fadeTo('slow',1);
        $(this).find("div[name='coverdiv']").fadeToggle('slow');
      });
    });
    
    $("#scroller").simplyScroll();