extends layout/mainFrame

block append css
  link(href='css/index.css', rel='stylesheet', media='screen')
  link(rel="stylesheet",href="css/carousel.css",media="all",type="text/css")

block append js
  script(type="text/javascript",src="js/jquery.carouFredSel-6.2.1-packed.js")
  script(type="text/javascript",src="js/slides.min.jquery.js")

block append content
  #slider_div_1(style='padding: 0px 0px; 0px; 0px;')
     .slides_container(style="list-style:none;")
        li.bitter0.glume
          span.Limg.slide_pic
            a(href='#', target='_blank')
              img.img_c_1(src='img/banner/scrollimg1.jpg')
          span.Limg2(style='position: absolute; left: 124px; top: 0px; display: block;')
            a(href='http://www.myaln.com/hotels.php?models=159&a=h', target='_blank')
              img#bitter_txt_1.bitter_txt(altt='115', altl='0', src='img/banner/adver.png', style='top: 193px; left: 0px;')

        li.bitter1.glume
          span.Limg.slide_pic
            a(href='#', target='_blank')
              img.img_c_1(src='img/banner/scrollimg2.jpg')
          span.Limg2(style='position: absolute; left: 124px; top: 0px; display: block;')
            a(href='http://www.myaln.com/hotels.php?models=159&a=h', target='_blank')
              img#bitter_txt_1.bitter_txt(altt='115', altl='0', src='img/banner/adver.png', style='top: 193px; left: 0px;')
        li.bitter2.glume
          span.Limg.slide_pic
            a(href='#', target='_blank')
              img.img_c_1(src='img/banner/scrollimg1.jpg')
          span.Limg2(style='position: absolute; left: 124px; top: 0px; display: block;')
            a(href='http://www.myaln.com/hotels.php?models=159&a=h', target='_blank')
              img#bitter_txt_1.bitter_txt(altt='115', altl='0', src='img/banner/adver.png', style='top: 193px; left: 0px;')
        li.bitter3.glume
          span.Limg.slide_pic
            a(href='#', target='_blank')
              img.img_c_1(src='img/banner/scrollimg2.jpg')
          span.Limg2(style='position: absolute; left: 124px; top: 0px; display: block;')
            a(href='http://www.myaln.com/hotels.php?models=159&a=h', target='_blank')
              img#bitter_txt_1.bitter_txt(altt='115', altl='0', src='img/banner/adver.png', style='top: 193px; left: 0px;')
        li.bitter4.glume
          span.Limg.slide_pic
            a(href='#', target='_blank')
              img.img_c_1(src='img/banner/scrollimg1.jpg')
          span.Limg2(style='position: absolute; left: 124px; top: 0px; display: block;')
            a(href='http://www.myaln.com/hotels.php?models=159&a=h', target='_blank')
              img#bitter_txt_1.bitter_txt(altt='115', altl='0', src='img/banner/adver.png', style='top: 193px; left: 0px;')
     .pagination_p
        ul.pagination(style="list-style:none;")
          li(style="display: list-item;")
            a.page_a_1(target='_blank', link='#',style="text-decoration: none;") 全新迈腾试驾享
          li(style="display: list-item;")
            a.page_a_1(target='_blank', link='#',style="text-decoration: none;") T动未来
          li(style="display: list-item;")
            a.page_a_1(target='_blank', link='#',style="text-decoration: none;") 全新迈腾试驾享
          li(style="display: list-item;")
            a.page_a_1(target='_blank', link='#',style="text-decoration: none;") T动未来
          li(style='border-right: 1px solid #FFFFFF;')
            a.page_a_1(target='_blank', link='#',style="text-decoration: none;") 全新迈腾试驾享



  .container(style='padding: 0px 0;')
    //
      div(align='center')
        img(src='img/progress.png')
    .row-fluid(heigth)
      .span8
          div.btn-toolbar(style="height: 10px;padding-top: 2px;margin-left:10px;") 
              .btn-group
                 if(conditionParams.orderByName == 'sellNum')
                     button.btn.btn-small.btn-inverse#orderSellNumBtn(onclick="orderSelect('sellNum')") 销量
                        i.icon-chevron-down.icon-white
                 else
                     button.btn.btn-small#orderSellNumBtn(onclick="orderSelect('sellNum')") 销量
                 
                 if(conditionParams.orderByName == 'price' && conditionParams.orderType == 'asc')
                     button.btn.btn-inverse.btn-small#orderPriceBtn(onclick="orderSelect('price')") 价格
                        i.icon-chevron-down.icon-white
                 else if(conditionParams.orderByName == 'price' && conditionParams.orderType == 'desc')
                     button.btn.btn-inverse.btn-small#orderPriceBtn(onclick="orderSelect('price')") 价格
                        i.icon-chevron-up.icon-white
                 else
                     button.btn.btn-small#orderPriceBtn(onclick="orderSelect('price')") 价格
      .span4
        .pagination.pagination-small.pagination-right(style='float:right;width:180px;margin: 10px 10px 0 0;')
           span(style='float:left;height: 25px;padding-top:0px;') #{carModelViews.currentPage} / #{carModelViews.pageCount}
           ul
             if carModelViews.firstPage
               li.disabled
                 a(href='#') 前一页
             -else
               li
                 a(href='#',onclick="conditionSelect('pageIndex','#{carModelViews.currentPage - 1}',true)") 前一页
                 
             if carModelViews.lastPage
               li.disabled
                 a(href='#') 后一页
             -else
               li
                 a(href='#',onclick="conditionSelect('pageIndex','#{carModelViews.currentPage + 1}',true)") 后一页
    hr(style='margin: 0px 0px 17px;')
     // 列表
    .row-fluid
      <ul class='thumbnails'>
      each carModelView, i in carModelViews.items
        li.span3(style="width:210px;margin-right: 13px;margin-left: 12px;")
          a.thumbnail(href='./car?id=#{carModelView.carModelLv1}', style='padding: 0px;')
            div(name='hoverdiv', style='height: 170px; width: 200px;')
              div(name='imgdiv', style='width: 190px; position: absolute;padding: 10px;')
                img(data-src='holder.js/210x140', alt='210x140', style='border-radius:4px 4px 0px 0px;width: 190px; height: 140px;padding: 0px 0px 0px;', src='img/car/#{carModelView.carModelLv1}.png')
                .caption(style="height: 20px; padding: 0px;")
                  h4.text-center(style="font-size:15px") 市场价:#{carModelView.factoryPriceMin}万 ～ #{carModelView.factoryPriceMax }万
              div(name='coverdiv', style='position: absolute; display: none;')
                div(style='height: 110px; padding: 20px;')
                  strong #{carModelView.brandCname} #{carModelView.cname}
                  h6 1.4T 1.8T 2.0T
                  h6 横置前驱
                  h6 7档双离合
                .caption(style='background-image: url(img/hover-price.png);padding:0px 0px 0px 0px; width: 210px; border-radius: 0px 0px 4px 4px;')
                  h4.text-center(style='color: #ffffff;font-size:15px;') 网站价:#{carModelView.shopPriceMin}万 ～ #{carModelView.shopPriceMax}万
          h5 #{carModelView.brandCname} #{carModelView.cname}
        if i != 0 && (i+1) % 4 == 0
          </ul><ul class='thumbnails'>
      </ul>
    div(style='padding-bottom: 30px;')
          div(style='border-top: 2px solid #ddd;')
            .row-fluid
              .span4
                ul.unstyled.text-left(style='margin: auto;')
                  li
                    h4#bottomh4
                      | 4S冰点购车
                  .row-fluid
                    .span4
                      img(src='img/haibao.jpg', alt='haibao')
                    .span8
                      ul.unstyled.text-left(style='margin-left: 10px;')
                        li
                          h6 斯柯达团购季这个盛夏大礼
                        li
                          h6 长安福特感恩回馈购车季大礼
                        li
                          h6 宁波长安铃木低优惠无下限
                        li
                          h6 宁波Mini团购低价尽享名流之爱
              .span4
                ul.unstyled.text-left(style='width: 60%; margin: auto;')
                  li
                    h4#bottomh4
                      | 站点公告
                  li
                    h6
                      img(src='img/paper_plane.png', alt='paper_plane', style='padding-bottom: 4px; margin-right: 10px;')
                      | 新车抢购页面全新改版通知。
                  li
                    h6
                      img(src='img/paper_plane.png', alt='paper_plane', style='padding-bottom: 4px; margin-right: 10px;')
                      | Teecar网诚招英才。
                  li
                    h6
                      img(src='img/paper_plane.png', alt='paper_plane', style='padding-bottom: 4px; margin-right: 10px;')
                      | Teecar新浪官微正式开通
              .span4
                ul.unstyled.text-left(style='margin: auto;')
                  li
                    h4#bottomh4
                      | 优惠栏目
                  .row-fluid
                    .span4
                      img(src='img/TEECARlogo.png', alt='TEECARlogo')
                    .span8
                      ul.unstyled.text-left(style='margin-left: 10px;')
                        li
                          h6
                            img(src='img/location.png', alt='location', style='padding-bottom: 4px; margin-right: 10px;')
                            | LEON 2012款 2.0TSI CUPRA 降11.48万
                        li
                          h6
                            img(src='img/location.png', alt='location', style='padding-bottom: 4px; margin-right: 10px;')
                            | 卡罗拉 2011款 1.6L 手动GL 降4.3万
                        li
                          h6
                            img(src='img/location.png', alt='location', style='padding-bottom: 4px; margin-right: 10px;')
                            | 林肯MKT 2010款 3.5L EcoBoost AWD 降38万

  form(action="/",method="get",id="conditionform")
    input(type="hidden",name="pageIndex",id="form_pageIndex",value="#{conditionParams.pageIndex}")
    input(type="hidden",name="carBrand",id="form_carBrand",value="#{conditionParams.carBrand}")
    input(type="hidden",name="carModelLv1",id="form_carModel",value="#{conditionParams.carModelLv1}")
    input(type="hidden",name="priceMin",id="form_priceMin",value="#{conditionParams.priceMin}")
    input(type="hidden",name="priceMax",id="form_priceMax",value="#{conditionParams.priceMax}")
    input(type="hidden",name="city",id="form_city",value="#{conditionParams.city}")
    input(type="hidden",name="orderByName",id="form_orderByName",value="#{conditionParams.orderByName}")
    input(type="hidden",name="orderType",id="form_orderType",value="#{conditionParams.orderType}")
    input(type="hidden",name="isRefresh",id="isRefresh",value="true")

  script.
    // 提交筛选事件
    function conditionSelect(type,value,needSubmit,needInitPage){
      $("#form_" + type).val(value);
      
      if(needInitPage){
        $("#form_pageIndex").val('');
      }
      
      if(needSubmit == true){
        $("#conditionform").submit();
      }
    }
    
    //排序事件
    var currentPrice = '';
    function orderSelect(type,id){
        //三种情况：无排序,正序，倒序,其中销量只有无排序和正序
        if(type == 'sellNum'){
            if($("#orderByName").val() == 'sellNum'){
                //do nothing
            }
            else{
                conditionSelect('orderByName','sellNum',false,false);
                conditionSelect('orderType','asc',true,true);
            }
        }
        else if(type == 'price'){
            var ordertype;
            if($("#form_orderByName").val() == 'price'){
                if($("#form_orderType").val() == 'asc'){
                    ordertype = "desc";
                }
                else{
                    ordertype = "asc";
                }
            }
            else{
                ordertype = "asc";
            }
            conditionSelect('orderByName','price',false,false);
            conditionSelect('orderType',ordertype,true,true);
        }
    }
    
    // 汽车图片浮动效果
    $("div[name='hoverdiv']").each(function(index,value){
      $(value).hover(function(){
        $(this).find("div[name='imgdiv']").fadeTo('slow',0.03);
        $(this).find("div[name='coverdiv']").fadeToggle('slow');
      },function(){
        $(this).find("div[name='imgdiv']").fadeTo('slow',1);
        $(this).find("div[name='coverdiv']").fadeToggle('slow');
      });
    });
    
    //广告栏鼠标悬停效果
    var carouselIsHover = false;
    
    $("#banner").hover(function(){
        carouselIsHover = true;
    },function(){
        carouselIsHover = false;
    });
    
    $("#banner").click(function(){
        $("#wrapperOpener").hide();
        $("#wrapper").slideDown('slow');
    });
    
    $(document).click(function(){
        if(!carouselIsHover){
            $("#wrapper").slideUp('slow',function(){
                $("#wrapperOpener").show();
            });
        }
    });
    
    $('.dropdown-toggle').dropdown();
    
    $("div.btn-toolbar div.btn-group>.dropdown-toggle").bind("mouseenter",function(){
        $(this).click();
    });
    $(window).load(function(){
       $("#show_olark").click(function(){
          olark('api.box.expand');
       });
    });
    $(function(){
        var original_w=1453;
        var original_h=528;
        var w=Math.max(document.documentElement.clientWidth,document.body.clientWidth);
        //var w=window.screen.width;
        if(original_w>w){//如果实际图片宽度大于分辨率
             //$(".img_c_1").css({"width":w});
        }
        else{
            $(".img_c_1").css({"width":w});
            var h=w*original_h/original_w+78;
            $(".img_c_1").css({"height":h});	
        }
        $('#slider_div_1').slides({
           //autoHeight:true,
           play: 5000,//5秒钟自动切换一次
           effect: 'fade',
           crossfade: true,
           fadeSpeed: 500,
           hoverPause: true,
           pause: 250,
           //generateNextPrev: true,
           animationStart: function() {
               var original_w=1453;
               var original_h=528;
               var w=Math.max(document.documentElement.clientWidth,document.body.clientWidth);
               //var w=window.screen.width;
               if(original_w>w){//如果实际图片宽度大于分辨率
                  //$(".img_c_1").css({"width":w});
               }
               else{
                   $(".img_c_1").css({"width":w});
                   var h=w*original_h/original_w+78;
                   $(".img_c_1").css({"height":h});
               }
            },
            generatePagination: false
         });
        
         $(".Limg2").css({'display':'block'});
         
         $('.page_a_1').click(function(event){
            event.preventDefault();
            window.open($(this).attr('link'),'name_1');
         });
         
         $(window).resize(function(e){
            var original_w=1453;
            var original_h=528;
            var w=Math.max(document.documentElement.clientWidth,document.body.clientWidth);
            //var w=window.screen.width;
            if(original_w>w){//如果实际图片宽度大于分辨率
            }
            else{
               $(".img_c_1").css({"width":w});
               var h=w*original_h/original_w+78;
               $(".img_c_1").css({"height":h});	
            }
         });
    });
    