extends layout

block append css
  link(href='css/index.css', rel='stylesheet', media='screen')

block content
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='./index.html') 鲸宝汽车网
          ul.nav
            li.active
              a(href='./index.html') 汽车频道
            li
              a(href='./shoplist.html') 4s店频道
            li
              a(href='./building.html') 移动应用
            //<li class="divider-vertical"></li>
            li
              a(href='./building.html') 关于我们
          form.navbar-form.pull-right
            input.input-small(type='text', placeholder='用户名')
            input.input-small(type='password', placeholder='密码')
            input.btn(type='submit', value='登陆')
            a.btn(href='./register.html') 注册
    header#overview.jumbotron.subhead
      .container
        h2(style='margin: 25px 0 0 0;') 网站广告位
    .container(style='padding: 45px 0;')
      div(align='center')
        img(src='img/progress.png')
      .row-fluid
        .span8
          ul.nav.nav-pills
            li.dropdown
              a#cityButton.dropdown-toggle(data-hover='dropdown', data-delay='300', data-toggle='dropdown', href='#')
                span#cityName 城市
                b.caret
              ul.dropdown-menu
                li
                  a(onclick="$('#cityName').html('城市')", href="#") 不限
                each city in allDicCity
                  li
                    a(href="#")= city.cityCname
            li.dropdown
              a.dropdown-toggle(data-hover='dropdown', data-delay='300', data-toggle='dropdown', href='#')
                span#brandValue 品牌
                b.caret
              ul.dropdown-menu
                li
                  a(onclick="$('#brandValue').html('品牌')", href='#') 不限
                li
                  a(onclick="$('#brandValue').html('大众')", href='#') 大众
            //
               车型 
            li.dropdown
              a.dropdown-toggle(data-hover='dropdown', data-delay='300', data-toggle='dropdown', href='#')
                | 车型
                b.caret
              ul.dropdown-menu
                li
                  a(href='#') 不限
                li
                  a(href='#') 捷达
                li
                  a(href='#') 高尔夫
            //
               价格区间 
            li.dropdown
              a.dropdown-toggle(data-hover='dropdown', data-delay='300', data-toggle='dropdown', href='#')
                | 价格
                b.caret
              ul.dropdown-menu
                li
                  a(href='#') 不限
                li
                  a(href='#') 1万 ~ 5万
                li
                  a(href='#') 5万 ~ 10万
                li
                  a(href='#') 10万 ~ 20万
                li
                  a(href='#') 20万 ~ 50万
                li
                  a(href='#') 50万以上
        .span4
          .pagination.pagination-small.pagination-right(style='margin: 5px auto;')
            ul
              li.disabled
                a(href='#') 前一页
              li.active
                a(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
              li
                a(href='#') 后一页
      hr(style='margin: 0px 0px 17px;')
      //列表 
      .row-fluid
        each carModelView, i in carModelViews.items
          if i % 4 == 0
            <ul class='thumbnails'> 
          li.span3
            a.thumbnail(href='./carinfo.html', style='padding: 0px;')
              div(name='hoverdiv', style='height: 190px; width: 220px;')
                div(name='imgdiv', style='width: 200; position: absolute;')
                  img(data-src='holder.js/210x140', alt='210x140', style='width: 210px; height: 150px;', src='img/suteng.jpg')
                  .caption
                    h6.text-center 市场价:#{carModelView.factoryPriceMin}万 ～ #{carModelView.factoryPriceMax}万
                    h6.text-center 网站价:#{carModelView.shopPriceMin}万 ～ #{carModelView.shopPriceMax}万
                div(name='coverdiv', style='width: 200; position: absolute; display: none;')
                  div(style='height: 110px; padding: 20px;')
                    strong #{carModelView.brandCname} #{carModelView.cname}
                    h6 1.4T 1.8T 2.0T
                    h6 横置前驱
                    h6 7档双离合
                  .caption(style='background-image: url(img/hover-price.png); padding: 0px; width: 220px; border-radius: 0px 0px 4px 4px;')
                    h6.text-center(style='color: #ffffff;') 市场价:13.18万 ～ 22.58万
                    h6.text-center(style='color: #ffffff; border-radius: 4px 4px 4px 4px;') 网站价:12.18万 ～ 20.58万
            h5 #{carModelView.brandCname} #{carModelView.cname}
          if i % 4 == 0
            </ul>
    footer.footer
      .container
        p 杭州鲸硅科技有限公司出品
    script
      $('.dropdown-toggle').dropdown();
      $("div[name='hoverdiv']").each(function(index,value){
        $(value).hover(function(){
        $(this).find("div[name='imgdiv']").fadeTo('slow',0.03);
        $(this).find("div[name='coverdiv']").fadeToggle('slow');
      },function(){
        $(this).find("div[name='imgdiv']").fadeTo('slow',1);
        $(this).find("div[name='coverdiv']").fadeToggle('slow');
        });
      });