extends layout/mainFrame

block append css
  link(href='css/index.css', rel='stylesheet', media='screen')
  link(rel="stylesheet",href="css/carousel.css",media="all",type="text/css")

block append js
  script(type="text/javascript",src="js/jquery.carouFredSel-6.2.1-packed.js")
  script(type="text/javascript",src="js/slides.min.jquery.js")

block append content
  #slider_div_1(style="padding:0")
     .slides_container(style="list-style:none;")
        li.bitter0.glume
          span.Limg.slide_pic
            a(href='#')
              img.img_c_1(src='img/banner/scrollimg1.jpg')
          //span.Limg2(style='position: absolute; left: 124px; top: 0px; display: block;')
          //  a(href='#')
          //    img#bitter_txt_1.bitter_txt(altt='115', altl='0', src='img/banner/adver.png', style='top: 193px; left: 0px;')
        li.bitter1.glume
          span.Limg.slide_pic
            a(href='#')
              img.img_c_1(src='img/banner/scrollimg2.jpg')
          //span.Limg2(style='position: absolute; left: 124px; top: 0px; display: block;')
          //  a(href='#')
          //    img#bitter_txt_1.bitter_txt(altt='115', altl='0', src='img/banner/adver.png', style='top: 193px; left: 0px;')
        li.bitter2.glume
          span.Limg.slide_pic
            a(href='#')
              img.img_c_1(src='img/banner/scrollimg3.jpg')
          //span.Limg2(style='position: absolute; left: 124px; top: 0px; display: block;')
          //  a(href='#')
          //    img#bitter_txt_1.bitter_txt(altt='115', altl='0', src='img/banner/adver.png', style='top: 193px; left: 0px;')
        li.bitter3.glume
          span.Limg.slide_pic
            a(href='#')
              img.img_c_1(src='img/banner/scrollimg4.jpg')
          span.Limg2(style='position: absolute; left: 124px; top: 0px; display: block;')
            a(href='#')
              //img#bitter_txt_1.bitter_txt(altt='115', altl='0', src='img/banner/adver.png', style='top: 193px; left: 0px;')
        li.bitter4.glume
          span.Limg.slide_pic
            a(href='#')
              img.img_c_1(src='img/banner/scrollimg5.jpg')
          //span.Limg2(style='position: absolute; left: 124px; top: 0px; display: block;')
          //  a(href='#')
          //    img#bitter_txt_1.bitter_txt(altt='115', altl='0', src='img/banner/adver.png', style='top: 193px; left: 0px;')
     .pagination_p
        ul.pagination(style="list-style:none;")
          li(style="display: list-item;")
            a.page_a_1(link='#',style="text-decoration: none;") 奥迪Q3 潮流重塑
          li(style="display: list-item;")
            a.page_a_1(link='#',style="text-decoration: none;") 新cc 心蕴优雅，顺绽光华
          li(style="display: list-item;")
            a.page_a_1(link='#',style="text-decoration: none;") 奥迪TT 让时尚取悦你
          li(style="display: list-item;")
            a.page_a_1(link='#',style="text-decoration: none;") 全新捷达 舒适激情
          li(style='border-right: 1px solid #FFFFFF;')
            a.page_a_1(link='#',style="text-decoration: none;") 全新迈腾试驾享3G
  .container(style="padding: 0px 0;")
    div(style='background-color: #eaeaea;')
    .row-fluid(style='padding: 20px 0px 20px 0px;')
        .span4(style="padding:0px 12px;")
          a(href="./way1")
            img(src='img/block1.png', alt='blog1')
        .span4(style="padding:0px 12px;")
          a(href="./way1#my_price")
            img(src='img/block2.png', alt='blog2')
        .span4(style="padding:0px 12px;")
          a(href="./way1#off_price")
            img(src='img/block3.png', alt='blog2')

      div(style="padding-top:20px;padding-bottom:20px")
        h2(style='text-align: center; color: #666666;')
          img(src="../img/cheapBandBig.png",style="padding-bottom:5px;padding-right:5px")
          | 特惠车型展示
      #cheap
        .row-fluid
            //
                style="background-color: #227bd8;"
              ul#section1.thumbnails(style='margin-top: 10px;margin-bottom:0px')
                li.span3(style='width: 210px; margin-right: 13px; margin-left: 12px;')
                  a.thumbnail(href='./car?id=232', style='padding: 0px;')
                    div(name='hoverdiv', style='height: 170px; width: 200px;')
                      div(name='imgdiv', style='width: 190px; position: absolute; padding: 10px;')
                        img(data-src='holder.js/210x140', alt='210x140', style='width: 190px; height: 140px; padding: 0px 0px 0px;', src='img/car/232.png')
                        .caption(style='height: 20px; padding: 0px;')
                          h4.text-center(style='font-size: 13px;') 市场价:24.28万 - 34.28万
                      div(name='coverdiv', style='position: absolute; display: none;')
                        div(style='height: 110px; padding: 20px;')
                          strong 一汽大众 CC
                          h6 1.8T 2.0T 3.0V6
                          h6 横置前驱
                          h6 7档双离合
                        .caption(style='background-image: url(img/hover-price.png); padding: 0px 0px 0px 0px; width: 210px; border-radius: 0px 0px 4px 4px;')
                          h4.text-center(style='color: #ffffff; font-size: 13px;') 网站价:24.28万 - 34.28万
                  h5
                    img(src="../img/dasAuto.png",style="margin:0px 3px 3px 0px")
                    一汽大众 CC
                    img.pull-right(src="../img/cheapBand.png")
                li.span3(style='width: 210px; margin-right: 13px; margin-left: 12px;')
                  a.thumbnail(href='./car?id=233', style='padding: 0px;')
                    div(name='hoverdiv', style='height: 170px; width: 200px;')
                      div(name='imgdiv', style='width: 190px; position: absolute; padding: 10px;')
                        img(data-src='holder.js/210x140', alt='210x140', style='width: 190px; height: 140px; padding: 0px 0px 0px;', src='img/car/233.png')
                        .caption(style='height: 20px; padding: 0px;')
                          h4.text-center(style='font-size: 13px;') 市场价:8.28万 - 11.93万
                      div(name='coverdiv', style='position: absolute; display: none;')
                        div(style='height: 110px; padding: 20px;')
                          strong 大众 捷达
                          h6 1.4 1.8
                          h6 横置前驱
                          h6 7档双离合
                        .caption(style='background-image: url(img/hover-price.png); padding: 0px 0px 0px 0px; width: 210px; border-radius: 0px 0px 4px 4px;')
                          h4.text-center(style='color: #ffffff; font-size: 13px;') 网站价:8.28万 - 11.93万
                  h5 
                    img(src="../img/dasAuto.png",style="margin:0px 3px 3px 0px")
                    大众 捷达
                    img.pull-right(src="../img/cheapBand.png")
                li.span3(style='width: 210px; margin-right: 13px; margin-left: 12px;')
                  a.thumbnail(href='./car?id=234', style='padding: 0px;')
                    div(name='hoverdiv', style='height: 170px; width: 200px;')
                      div(name='imgdiv', style='width: 190px; position: absolute; padding: 10px;')
                        img(data-src='holder.js/210x140', alt='210x140', style='border-radius: 0px 0px 0px 0px; width: 190px; height: 140px; padding: 0px 0px 0px;', src='img/car/234.png')
                        .caption(style='height: 20px; padding: 0px;')
                          h4.text-center(style='font-size: 13px;') 市场价:11，89万 - 25.38万
                      div(name='coverdiv', style='position: absolute; display: none;')
                        div(style='height: 110px; padding: 20px;')
                          strong 大众 高尔夫
                          h6 1.4T 1.6 2.0T
                          h6 横置前驱
                          h6 7档双离合
                        .caption(style='background-image: url(img/hover-price.png); padding: 0px 0px 0px 0px; width: 210px; border-radius: 0px 0px 4px 4px;')
                          h4.text-center(style='color: #ffffff; font-size: 13px;') 11，89万 - 25.38万
                  h5
                    img(src="../img/dasAuto.png",style="margin:0px 3px 3px 0px")
                    大众 高尔夫
                    img.pull-right(src="../img/cheapBand.png")
                li.span3(style='width: 210px; margin-right: 13px; margin-left: 12px;')
                  a.thumbnail(href='./car?id=235', style='padding: 0px;')
                    div(name='hoverdiv', style='height: 170px; width: 200px;')
                      div(name='imgdiv', style='width: 190px; position: absolute; padding: 10px;')
                        img(data-src='holder.js/210x140', alt='210x140', style='border-radius: 0px 0px 0px 0px; width: 190px; height: 140px; padding: 0px 0px 0px;', src='img/car/235.png')
                        .caption(style='height: 20px; padding: 0px;')
                          h4.text-center(style='font-size: 13px;') 市场价:19.98万 - 34.38万
                      div(name='coverdiv', style='position: absolute; display: none;')
                        div(style='height: 110px; padding: 20px;')
                          strong 大众 迈腾
                          h6 1.4T 1.8T 2.0T 3.0
                          h6 横置前驱
                          h6 7档双离合
                        .caption(style='background-image: url(img/hover-price.png); padding: 0px 0px 0px 0px; width: 210px; border-radius: 0px 0px 4px 4px;')
                          h4.text-center(style='color: #ffffff; font-size: 13px;') 网站价:19.98万 - 34.38万
                  h5 
                    img(src="../img/dasAuto.png",style="margin:0px 3px 3px 0px")
                    大众 大众 迈腾
                    img.pull-right(src="../img/cheapBand.png")

      div(style="padding-top:20px")
        h2(style='text-align: center; color: #666666;')
          img(src="../img/focusBandBig.png",style="padding-bottom:5px;padding-right:5px")
          | 关注热点车型展示
      #focus
        .row-fluid
            //
                style="background-color: #227bd8;"
              ul#section1.thumbnails(style='margin-top: 10px;margin-bottom:0px')
                li.span3(style='width: 210px; margin-right: 13px; margin-left: 12px;')
                  a.thumbnail(href='./car?id=232', style='padding: 0px;')
                    div(name='hoverdiv', style='height: 170px; width: 200px;')
                      div(name='imgdiv', style='width: 190px; position: absolute; padding: 10px;')
                        img(data-src='holder.js/210x140', alt='210x140', style='width: 190px; height: 140px; padding: 0px 0px 0px;', src='img/car/232.png')
                        .caption(style='height: 20px; padding: 0px;')
                          h4.text-center(style='font-size: 13px;') 市场价:24.28万 - 34.28万
                      div(name='coverdiv', style='position: absolute; display: none;')
                        div(style='height: 110px; padding: 20px;')
                          strong 一汽大众 CC
                          h6 1.8T 2.0T 3.0V6
                          h6 横置前驱
                          h6 7档双离合
                        .caption(style='background-image: url(img/hover-price.png); padding: 0px 0px 0px 0px; width: 210px; border-radius: 0px 0px 4px 4px;')
                          h4.text-center(style='color: #ffffff; font-size: 13px;') 网站价:24.28万 - 34.28万
                  h5
                    img(src="../img/dasAuto.png",style="margin:0px 3px 3px 0px")
                    一汽大众 CC
                    img.pull-right(src="../img/focusBand.png")
                li.span3(style='width: 210px; margin-right: 13px; margin-left: 12px;')
                  a.thumbnail(href='./car?id=235', style='padding: 0px;')
                    div(name='hoverdiv', style='height: 170px; width: 200px;')
                      div(name='imgdiv', style='width: 190px; position: absolute; padding: 10px;')
                        img(data-src='holder.js/210x140', alt='210x140', style='border-radius: 0px 0px 0px 0px; width: 190px; height: 140px; padding: 0px 0px 0px;', src='img/car/235.png')
                        .caption(style='height: 20px; padding: 0px;')
                          h4.text-center(style='font-size: 13px;') 市场价:19.98万 - 34.38万
                      div(name='coverdiv', style='position: absolute; display: none;')
                        div(style='height: 110px; padding: 20px;')
                          strong 大众 迈腾
                          h6 1.4T 1.8T 2.0T 3.0
                          h6 横置前驱
                          h6 7档双离合
                        .caption(style='background-image: url(img/hover-price.png); padding: 0px 0px 0px 0px; width: 210px; border-radius: 0px 0px 4px 4px;')
                          h4.text-center(style='color: #ffffff; font-size: 13px;') 网站价:19.98万 - 34.38万
                  h5
                    img(src="../img/dasAuto.png",style="margin:0px 3px 3px 0px")
                    大众 大众 迈腾
                    img.pull-right(src="../img/focusBand.png")
                li.span3(style='width: 210px; margin-right: 13px; margin-left: 12px;')
                  a.thumbnail(href='./car?id=233', style='padding: 0px;')
                    div(name='hoverdiv', style='height: 170px; width: 200px;')
                      div(name='imgdiv', style='width: 190px; position: absolute; padding: 10px;')
                        img(data-src='holder.js/210x140', alt='210x140', style='width: 190px; height: 140px; padding: 0px 0px 0px;', src='img/car/233.png')
                        .caption(style='height: 20px; padding: 0px;')
                          h4.text-center(style='font-size: 13px;') 市场价:8.28万 - 11.93万
                      div(name='coverdiv', style='position: absolute; display: none;')
                        div(style='height: 110px; padding: 20px;')
                          strong 大众 捷达
                          h6 1.4 1.8
                          h6 横置前驱
                          h6 7档双离合
                        .caption(style='background-image: url(img/hover-price.png); padding: 0px 0px 0px 0px; width: 210px; border-radius: 0px 0px 4px 4px;')
                          h4.text-center(style='color: #ffffff; font-size: 13px;') 网站价:8.28万 - 11.93万
                  h5
                    img(src="../img/dasAuto.png",style="margin:0px 3px 3px 0px")
                    大众 捷达
                    img.pull-right(src="../img/focusBand.png")
                li.span3(style='width: 210px; margin-right: 13px; margin-left: 12px;')
                  a.thumbnail(href='./car?id=234', style='padding: 0px;')
                    div(name='hoverdiv', style='height: 170px; width: 200px;')
                      div(name='imgdiv', style='width: 190px; position: absolute; padding: 10px;')
                        img(data-src='holder.js/210x140', alt='210x140', style='border-radius: 0px 0px 0px 0px; width: 190px; height: 140px; padding: 0px 0px 0px;', src='img/car/234.png')
                        .caption(style='height: 20px; padding: 0px;')
                          h4.text-center(style='font-size: 13px;') 市场价:11，89万 - 25.38万
                      div(name='coverdiv', style='position: absolute; display: none;')
                        div(style='height: 110px; padding: 20px;')
                          strong 大众 高尔夫
                          h6 1.4T 1.6 2.0T
                          h6 横置前驱
                          h6 7档双离合
                        .caption(style='background-image: url(img/hover-price.png); padding: 0px 0px 0px 0px; width: 210px; border-radius: 0px 0px 4px 4px;')
                          h4.text-center(style='color: #ffffff; font-size: 13px;') 11，89万 - 25.38万
                  h5
                    img(src="../img/dasAuto.png",style="margin:0px 3px 3px 0px")
                    大众 高尔夫
                    img.pull-right(src="../img/focusBand.png")
      div(style="padding-top:40px")
        h2(style='text-align: center; color: #666666;padding-bottom: 20px') 网站所售车型展示
    //
      div(align='center')
        img(src='img/progress.png')
    .row-fluid#carModelView
      //内容ajax读取
    div(style='padding-bottom: 30px;')
          div(style='border-top: 2px solid #ddd;')
            .row-fluid
              .span4
                ul.unstyled.text-left(style='margin: auto;')
                  li
                    h4#bottomh4
                      | 4S冰点购车
                  .row-fluid
                    .span4
                      img(src='img/haibao.jpg', alt='haibao')
                    .span8
                      ul.unstyled.text-left(style='margin-left: 10px;')
                        li
                          a(href="./adver")
                            h6 一汽-大众CC少量现车 最高优惠0.2万元
                        li
                          a(href="./adver")
                            h6 一汽-大众CC少量现车 最高优惠0.2万元
                        li
                          a(href="./adver")
                            h6 一汽-大众CC少量现车 最高优惠0.2万元
                        li
                          a(href="./adver")
                            h6 一汽-大众CC少量现车 最高优惠0.2万元
              .span4
                ul.unstyled.text-left(style='width: 60%; margin: auto;')
                  li
                    h4#bottomh4
                      | 站点公告
                  li
                    a(href="./adver")
                      h6
                        img(src='img/paper_plane.png', alt='paper_plane', style='padding-bottom: 4px; margin-right: 10px;')
                        | 一汽-大众CC少量现车 最高优惠0.2万元
                  li
                    a(href="./adver")
                      h6
                        img(src='img/paper_plane.png', alt='paper_plane', style='padding-bottom: 4px; margin-right: 10px;')
                        | 一汽-大众CC少量现车 最高优惠0.2万元
                  li
                    a(href="./adver")
                      h6
                        img(src='img/paper_plane.png', alt='paper_plane', style='padding-bottom: 4px; margin-right: 10px;')
                        | 一汽-大众CC少量现车 最高优惠0.2万元
              .span4
                ul.unstyled.text-left(style='margin: auto;')
                  li
                    h4#bottomh4
                      | 优惠栏目
                  .row-fluid
                    .span4
                      img(src='img/TEECARlogo.png', alt='TEECARlogo')
                    .span8
                      ul.unstyled.text-left(style='margin-left: 10px;')
                        li
                          a(href="./adver")
                            h6
                              img(src='img/location.png', alt='location', style='padding-bottom: 4px; margin-right: 10px;')
                              | 一汽-大众CC少量现车 最高优惠0.2万元
                        li
                          a(href="./adver")
                            h6
                              img(src='img/location.png', alt='location', style='padding-bottom: 4px; margin-right: 10px;')
                              | 一汽-大众CC少量现车 最高优惠0.2万元
                        li
                          a(href="./adver")
                            h6
                              img(src='img/location.png', alt='location', style='padding-bottom: 4px; margin-right: 10px;')
                              | 一汽-大众CC少量现车 最高优惠0.2万元

  script.
    $(document).ready(function(){
        //初始化汽车数据
        $("#carModelView").load("./cardata?type=getCarModelPagination");
    });
    
    //首页幻灯片
    $(function(){
        var original_w=1453;
        var original_h=528;
        var w=Math.max(document.documentElement.clientWidth,document.body.clientWidth);
        //var w=window.screen.width;
        if(original_w>w){//如果实际图片宽度大于分辨率
             //$(".img_c_1").css({"width":w});
        }
        else{
            $(".img_c_1").css({"width":w});
            var h=w*original_h/original_w+78;
            $(".img_c_1").css({"height":h});	
        }
        $('#slider_div_1').slides({
           //autoHeight:true,
           play: 2000,//5秒钟自动切换一次
           effect: 'fade',
           crossfade: true,
           fadeSpeed: 500,
           hoverPause: true,
           pause: 250,
           //generateNextPrev: true,
           animationStart: function() {
               var original_w=1453;
               var original_h=528;
               var w=Math.max(document.documentElement.clientWidth,document.body.clientWidth);
               //var w=window.screen.width;
               if(original_w>w){//如果实际图片宽度大于分辨率
                  //$(".img_c_1").css({"width":w});
               }
               else{
                   $(".img_c_1").css({"width":w});
                   var h=w*original_h/original_w+78;
                   $(".img_c_1").css({"height":h});
               }
            },
            generatePagination: false
         });
        
         $(".Limg2").css({'display':'block'});
         
         $('.page_a_1').click(function(event){
            event.preventDefault();
            window.open($(this).attr('link'),'name_1');
         });
         
         $(window).resize(function(e){
            var original_w=1453;
            var original_h=528;
            var w=Math.max(document.documentElement.clientWidth,document.body.clientWidth);
            //var w=window.screen.width;
            if(original_w>w){//如果实际图片宽度大于分辨率
            }
            else{
               $(".img_c_1").css({"width":w});
               var h=w*original_h/original_w+78;
               $(".img_c_1").css({"height":h});	
            }
         });
    });
    