extends layout/mainFrame

block append css
    link(href='css/index.css', rel='stylesheet', media='screen')
    link(rel="stylesheet",href="css/carousel.css",media="all",type="text/css")

block append js
    script(type="text/javascript",src="js/jquery.carouFredSel-6.2.1-packed.js")
    script(type="text/javascript",src="js/jquery.slides.min.js")

block append content
    #slider_div_1(style="width:1200px;height:463px;margin:0 auto;padding:0px;")
        .slides_container#slider_div_2(style="list-style:none;z-index:-1;width:1200px;height:463px;margin:0 auto")
            li.bitter2.glume
                span.Limg.slide_pic
                    a(href='/golf7Adver')
                        img.img_c_1(src='img/1.png',style="width:1200px;height:463px;margin:0 auto")
            li.bitter0.glume
                span.Limg.slide_pic
                    a(href='/vw6_adver')
                        img.img_c_1(src='img/122.jpg',style="width:1200px;height:463px;margin:0 auto")
            li.bitter1.glume
                span.Limg.slide_pic
                    a(href='#carModelViewAnchor')
                        img.img_c_1(src='img/banner/logo4.jpg',style="width:1200px;height:463px;margin:0 auto")
            li.bitter3.glume
                span.Limg.slide_pic
                    a(href='./car?id=228')
                        img.img_c_1(src='img/banner/logo5.jpg',style="width:1200px;height:463px;margin:0 auto")
            li.bitter4.glume
                span.Limg.slide_pic
                    a(href='./car?id=225')
                        img.img_c_1(src='img/banner/scrollimg3.jpg',style="width:1200px;height:463px;margin:0 auto")
        .pagination_p
           ul.pagination(style="list-style:none;")
             li(style="display: list-item; ")
               a.page_a_1(link='#',style="text-decoration: none;",onmouseover="scrollTo(0)") 30S搞定优惠
             li(style="display: list-item;")
               a.page_a_1(link='#',style="text-decoration: none;",onmouseover="scrollTo(1)") 奥迪全系登录梯卡
             li(style="display: list-item;")
               a.page_a_1(link='#',style="text-decoration: none;",onmouseover="scrollTo(2)") 直降一千
             li(style="display: list-item;")
               a.page_a_1(link='#',style="text-decoration: none;",onmouseover="scrollTo(3)") 底价购买
             li(style='border-right: 1px solid #FFFFFF;')
               a.page_a_1(link='./car?id=228',style="text-decoration: none;",onmouseover="scrollTo(4)") 新cc 孑然登场

    div(style="height:222px;width:100%;background-color:#d6e9fc")
        div(style="width:1200px;height:222px;margin:0 auto;")
            div(id="news" style="padding-top:1px;padding-left:0px;float:left;height:262px;background-color:#ffffff;")
                div(style="background-image: url(img/blueBgFont.png);height:200px;width:193px;float:left;margin-left:0px;margin-top:0px;")
                    //div(style="font-size:30px;color:#ffffff;margin-left:18px;margin-top:34px;") 网站最新
                    //div(style="font-size:30px;color:#ffffff;margin-left:18px;margin-top:34px;") 成交记录
                    //div(style="font-size:30px;color:#ffffff;margin-left:18px;margin-top:36px;") TEECAR
                div(style="margin-left:28px;height:132px;overflow:hidden;width:300px;margin-top:36px;margin-left:36px;margin-right:0px;float:left;")
                    ul(style="font-size:15px;color:#030303")
                        li(style="list-style-type:none;") 王**先生&nbsp;&nbsp;&nbsp;&nbsp;网站指导价&nbsp;&nbsp;&nbsp;&nbsp;高尔夫7
                        li(style="list-style-type:none;") 黄**先生&nbsp;&nbsp;&nbsp;&nbsp;网站指导价&nbsp;&nbsp;&nbsp;&nbsp;高尔夫6
                        li(style="list-style-type:none;") 周**先生&nbsp;&nbsp;&nbsp;&nbsp;在线议价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宝来
                        li(style="list-style-type:none;") 张**先生&nbsp;&nbsp;&nbsp;&nbsp;优惠千元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;速腾
                        li(style="list-style-type:none;") 童**先生&nbsp;&nbsp;&nbsp;&nbsp;优惠千元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高尔夫7
                        li(style="list-style-type:none;") 王**女士&nbsp;&nbsp;&nbsp;&nbsp;网站指导价&nbsp;&nbsp;&nbsp;&nbsp;捷达
                        li(style="list-style-type:none;") 徐**先生&nbsp;&nbsp;&nbsp;&nbsp;优惠千元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;捷达
                        li(style="list-style-type:none;") 赵**先生&nbsp;&nbsp;&nbsp;&nbsp;在线议价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宝来
                        li(style="list-style-type:none;") 李**女士&nbsp;&nbsp;&nbsp;&nbsp;优惠千元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高尔夫7
                        li(style="list-style-type:none;") 胡**先生&nbsp;&nbsp;&nbsp;&nbsp;网站指导价&nbsp;&nbsp;&nbsp;&nbsp;高尔夫7
                        li(style="list-style-type:none;") 何**女士&nbsp;&nbsp;&nbsp;&nbsp;在线议价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;捷达
                        li(style="list-style-type:none;") 俞**先生&nbsp;&nbsp;&nbsp;&nbsp;网站指导价&nbsp;&nbsp;&nbsp;&nbsp;速腾
                        li(style="list-style-type:none;") 傅**先生&nbsp;&nbsp;&nbsp;&nbsp;优惠千元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高尔夫6
                        li(style="list-style-type:none;") 许**先生&nbsp;&nbsp;&nbsp;&nbsp;网站指导价&nbsp;&nbsp;&nbsp;&nbsp;高尔夫6
                        li(style="list-style-type:none;") 江**女士&nbsp;&nbsp;&nbsp;&nbsp;网站指导价&nbsp;&nbsp;&nbsp;&nbsp;速腾
                        li(style="list-style-type:none;") 张**先生&nbsp;&nbsp;&nbsp;&nbsp;在线议价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宝来
                        li(style="list-style-type:none;") 郑**先生&nbsp;&nbsp;&nbsp;&nbsp;优惠千元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;速腾
                div(style="background-image: url(img/line.png);margin-top:26px;margin-left:0px;height:158px;float:left;width:2px;margin-right:0px;")
                div(style="background-image: url(img/quxiantu.png);width:352px;margin-top:28px;margin-left:10px;margin-right:0px;height:156px;float:left;background-repeat:no-repeat;")
                div(style="background-image: url(img/line.png);margin-top:26px;margin-left:10px;margin-right:0px;width:2px;height:158px;float:left;")
                div(style="margin-top:25px;margin-left:930px;width: 246px;height:160px;")
                    div(id="addUserCar", name="addUserCar" ,action="./addUserCar", method="post",style="font-size:23px;height:115px;width:246px;border:1px solid #e3e2e2;margin-top:0px;")
                        div(style="margin-top:10px;margin-left:15px;")
                            label(style="float:left;margin-left:0px;") 姓名：
                            input(type="text" ,style="height:16.5px;width:120px;padding:0px;margin-bottom:3px;border:none;" ,id="username",name="username")
                        div(style="margin-top:10px;margin-left:15px;")
                            label(style="float:left;") 电话：
                            input(type="text" ,style="height:16.5px;width:120px;padding:0px;border:none;",id="phoneNum",name="phoneNum")
                        div(style="margin-top:10px;")
                            label(style="float:left;margin-left:15px;") 意向：
                            div(style="margin-top:6px")
                                select(type="text",style="height:19.5px;width:92px;margin-bottom:10px;float:left;",id="carBrand",onchange="getCarBrand();")
                                    option(select="select") 选择品牌
                                    each carBrand in idAndCname
                                        option(value="#{carBrand.id}") #{carBrand.cname}
                                select(id="idAndCname",style="height:19.5px;width:92px;" ,name="idAndCname")
                                    option(value="") 选择车型
                                input#allCars(type="hidden",value=JSON.stringify(idAndCname))
                        div(style="width:246px;height:34px;margin-top:18px;")
                            input(id="submit",tagName="INPUT",type="button",style="font-size:20px;color:#ffffff;width:246px;height:34px;border:none;",value="提交",onclick="success()",onmouseover="change()",onmousedown="this.background-image='../img/Btn-bg2.png")
                div(style="background-image: url(img/bottomImg.png);margin-top:14px;margin-left:0px;width:1200px;;height:22px;")

    div(style="background-color: #f6f6f6;height:496px")
        .container(style="padding: 0px 0;border-width:1px;border-style:solid;border-color:transparent;max-width: 1200px;width:1200px;")
            div(style='')
                div(style="width:1200px;margin:0 auto;padding-top:5px;padding-bottom:5px")
                    h6(style="font-size:24px;font-weight:lighter;color:#666666;margin-top:10px;margin-left:0px;") 梯卡推荐
                    // img(src="../img/banner/cheapBand.png",style="padding-bottom:5px;padding-right:5px")
                #cheap(style="margin-top:10px")
                    .row-fluid
                        ul.thumbnails(style='margin-top: 0px;margin-bottom:0px;margin-left:-13px')
                            li(style="width:505px;height:383px;margin-right: 7px; margin-left: 24px;")
                                a.thumbnail(href="./car?id=#{priceOffCarModelLv1[0].id}",style="padding:8px;background-color:white;border:;transparent;border-radius:0px")
                                    img(style='width: 505px; height: 383px;', src='img/price0001.jpg')
                                    .caption(style='height:51px; padding:5px;')
                                        div.pull-left(style="padding:5px;")
                                            img(src="img/icon001.png")
                                        div.pull-left
                                            div(style='font-size: 12px;color:#666666;') 市场价:#{priceOffCarModelLv1[0].factoryPrice}万
                                            div(style='font-size: 16px;color:#333333;') <strong>TEE</strong>Car:#{priceOffCarModelLv1[0].shopPrice}万
                                        div.pull-right(style="padding:8px 0px;")
                                            img(src="img/icon004.png")
                                        div.pull-right(style='padding:10px;color:#f40000;')
                                            span(style="font-size: 23px; color:#ff9a00") 立减&nbsp;
                                            span(style="font-size: 35px; color:#ff9a00")
                                                i #{priceOffCarModelLv1[0].diffPrice.toFixed(2)}

                            li(style="width:240px;height:180px;margin-right: 14px; margin-left: 15px;margin-bottom:7px;")
                                a.thumbnail(href="./car?id=#{priceOffCarModelLv1[1].id}",style="padding:8px;background-color:#ffffff;border:solid 0px #aaaaaa;border-radius:0px")
                                    img(style='width: 240px; height: 180px;', src='img/price0002.jpg')
                                    .caption(style='height: 18px; padding: 5px 0px 2px 2px;')
                                        div.pull-left(style="padding:0px 2px;")
                                            img(src="img/icon002.png")
                                        div.pull-left(style='font-size: 14px;color:#333333;') <strong>TEE</strong>Car:#{priceOffCarModelLv1[1].shopPrice}万
                                        div.pull-right(style="padding:0px 0px;width:13px;")
                                            img(src="img/icon004.png",style="width:13px;height:13px;margin-bottom: 5px;margin-left: 2px;")
                                        div.pull-right(style='color:#f40000;')
                                            span(style="font-size: 14px; color:#ff9a00")
                                                | 立减
                                                i(style="color:#ff9a00") #{priceOffCarModelLv1[1].diffPrice.toFixed(2)}
                            li(style="width:240px;height:180px;margin-right: 14px; margin-left: -254px;margin-top:238px;")
                                a.thumbnail(href="./car?id=#{priceOffCarModelLv1[2].id}",style="padding:8px;background-color:#ffffff;border:solid 0px #aaaaaa;border-radius:0px")
                                    img(style='width: 240px; height: 180px;', src='img/price0003.jpg')
                                    .caption(style='height: 18px; padding: 5px 0px 2px 2px;')
                                        div.pull-left(style="padding:0px 2px;")
                                            img(src="img/icon003.png")
                                        div.pull-left(style='font-size: 14px;color:#333333;') <strong>TEE</strong>Car:#{priceOffCarModelLv1[2].shopPrice}万
                                        div.pull-right(style="padding:0px 0px;width:13px;")
                                            img(src="img/icon004.png",style="width:13px;height:13px;margin-bottom: 5px;margin-left: 2px;")
                                        div.pull-right(style='color:#f40000;')
                                            span(style="font-size: 14px; color:#ff9a00")
                                                | 立减
                                                i(style="color:#ff9a00") #{priceOffCarModelLv1[2].diffPrice.toFixed(2)}
                            li(style="width:240px;height:180px;margin-right: 14px; margin-left: 810px;margin-top:-438px;")
                                a.thumbnail(href="./car?id=#{priceOffCarModelLv1[3].id}",style="padding:8px;background-color:#ffffff;border:solid 0px #aaaaaa;border-radius:0px")
                                    img(style='width: 240px; height: 180px;', src='img/price0004.jpg')
                                    .caption(style='height: 18px; padding: 5px 0px 2px 2px;')
                                        div.pull-left(style="padding:0px 2px;")
                                            img(src="img/icon003.png")
                                        div.pull-left(style='font-size: 14px;color:#333333;') <strong>TEE</strong>Car:#{priceOffCarModelLv1[3].shopPrice}万
                                        div.pull-right(style="padding:0px 0px;width:13px;")
                                            img(src="img/icon004.png",style="width:13px;height:13px;margin-bottom: 5px;margin-left: 2px;")
                                        div.pull-right(style='color:#f40000;')
                                            span(style="font-size: 14px; color:#ff9a00")
                                                | 立减
                                                i(style="#ff9a00") #{priceOffCarModelLv1[3].diffPrice.toFixed(2)}
                            li(style="width:240px;height:180px;margin-right: 14px;margin-left: 810px;margin-top:-200px")
                                a.thumbnail(href="./car?id=#{priceOffCarModelLv1[4].id}",style="padding:8px;background-color:#ffffff;border:solid 0px #aaaaaa;border-radius:0px")
                                    img(style='width: 240px; height: 180px;', src='img/price0005.jpg')
                                    .caption(style='height: 18px; padding: 5px 0px 2px 2px;')
                                        div.pull-left(style="padding:0px 2px;")
                                            img(src="img/icon003.png")
                                        div.pull-left(style='font-size: 14px;color:#333333;') <strong>TEE</strong>Car:#{priceOffCarModelLv1[4].shopPrice}万
                                        div.pull-right(style="padding:0px 0px;width:13px;")
                                            img(src="img/icon004.png",style="width:13px;height:13px;margin-bottom: 5px;margin-left: 2px;")
                                        div.pull-right(style='color:#f40000;')
                                            span(style="font-size: 14px; color:#ff9a00")
                                                | 立减
                                                i(style="#ff9a00") #{priceOffCarModelLv1[4].diffPrice.toFixed(2)}
                            li(style="width:124px;height:416px;margin-right: 14px;margin-left: 1074px;margin-top:-438px")
                                a.thumbnail(href="./car?id=#{priceOffCarModelLv1[2].id}",style="padding:8px;background-color:#ffffff;border:solid 0px #aaaaaa;border-radius:0px")
                                    img(style='width: 124px; height: 416px;', src='img/sai.png')
                                    .caption(style='height: 18px; padding: 5px 0px 2px 2px;')
                                        div.pull-right(style="padding:0px 0px;width:13px;")
                                            img(src="img/icon004.png",style="width:13px;height:13px;margin-bottom: 5px;margin-left: 2px;")
                                        div.pull-right(style='color:#f40000;')
                                            span(style="font-size: 14px; color:#ff9a00")
                                                | 立减
                                                i(style="#ff9a00") #{priceOffCarModelLv1[2].diffPrice.toFixed(2)}

                #focus
                    // div#carModelViewAnchor(style="width:918px;margin:0 auto;padding-top:5px;padding-bottom:5px")
    div(style="margin-top:35px;padding-bottom: 30px;min-width:1200px;background:#ffffff")
        div(style='margin:0 auto;width:1200px;')
            h6(style="font-size:24px;font-weight:lighter;color:#666666") <br> 梯卡优惠
            .row-fluid#carModelView(style="background-color:#ffffff;margin-top:20px")
                //内容ajax读取

    script.
        $(document).ready(function(){
            //初始化汽车数据
           $("#carModelView").load("./cardata?type=getCarModelPagination");
        });

        //首页幻灯片
        $(function(){
            var original_w=940;
            var original_h=363;
            var w=Math.max(document.documentElement.clientWidth,document.body.clientWidth);
            //var w=window.screen.width;
            if(original_w>w){//如果实际图片宽度大于分辨率
                 //$(".img_c_1").css({"width":w});
            }
            else{
                //$(".img_c_1").css({"width":w});
                //var h=w*original_h/original_w+78;
                //$(".img_c_1").css({"height":h});
            }
            var slider2 = $('#slider_div_2').slidesjs({width: 940,
                height: 528,
                play: {
                  active: true,
                  auto: true,
                  interval: 4000,
                  swap: true
                }
             });

             $(".Limg2").css({'display':'block'});

             $('.page_a_1').click(function(event){
                event.preventDefault();
                //window.open($(this).attr('link'),'name_1');
             });

             $(window).resize(function(e){
                var original_w=940;
                var original_h=363;
                var w=Math.max(document.documentElement.clientWidth,document.body.clientWidth);
                //var w=window.screen.width;
                if(original_w>w){//如果实际图片宽度大于分辨率
                }
                else{
                  // $(".img_c_1").css({"width":w});
                   //var h=w*original_h/original_w+78;
                   //$(".img_c_1").css({"height":h});
                }
             });
        });
        //滚动字幕
        var $this=$("#news");
        var scrollTimer;
        $this.hover(function(){
          clearInterval(scrollTimer);
        },function(){
          scrollTimer = setInterval(function() {
        scrollNews($this);
        }, 1500);
        }).trigger("mouseleave");
        function scrollNews(obj)
        {
          var $self=obj.find("ul");
          var lineHeight=$self.find("li:first").height();
          $self.animate({
          "marginTop":-lineHeight+ "px"
          }, 600, function(){
          $self.css({
          marginTop:0
          }).find("li:first").appendTo($self);
          })
        }

        function scrollTo(number){
            $('a[data-slidesjs-item="' + number + '"]').trigger('click');
            $('a.slidesjs-play').trigger('click');

        }
        function getCarBrand(){
          var idname =  eval($("#allCars").val());
          var carBrandID = $("#carBrand").val();
          for(var i=0;i<idname.length;i++){
              if(carBrandID == idname[i].id){
                  $("#idAndCname").empty();
                  $("#idAndCname").append('<option value="">选择车型</option>');
                  var carModelLv1List = idname[i].carModelLv1List;
                  for(var j=0;j<carModelLv1List.length;j++){
                    $("#idAndCname").append("<option value=" + carModelLv1List[j].id + ","+carModelLv1List[j].cname + ">" + carModelLv1List[j].cname + "</option>");
                  }
                break;
              }
          }
        }
        function change(){
          var el=$("#submit");
          document.getElementById("submit").background=url("img/Btn-bg2.png");
        }
        function success(){
          var username = $("#username").val();
          var phoneNum = $("#phoneNum").val();
          var idAndCname = $("#idAndCname").val().split(",");
          var BrandId = idAndCname[0];
          var Cname =  idAndCname[1];
          if(username=="" || phoneNum==""|| BrandId=="" || Cname==""){
              alert("提交失败！");
              return;
          }
              alert("提交成功！");
              document.addUserCar.submit();
              return;
        }