extends layout/mainFrame

block append css
  link(href='css/index.css', rel='stylesheet', media='screen')
  link(rel="stylesheet",href="css/carousel.css",media="all",type="text/css")
block append js
  script(type="text/javascript",src="js/jquery.carouFredSel-6.0.4-packed.js")
  

block append content
  div#banner
    div#wrapper(style="display:#{!isRefresh ? '':'none'}")
     div#carousel
        img(src="img/scrollimg/adv1.png",alt="adv1",width="990",height="450" )
        img(src="img/scrollimg/adv2.png",alt="adv1",width="990",height="450" )
        img(src="img/scrollimg/adv1.png",alt="adv1",width="990",height="450")
        img(src="img/scrollimg/adv2.png",alt="adv1",width="990",height="450" )
    div#wrapperOpener(href="#",style="padding-top:59px;display:#{!isRefresh ? 'none':''}")
      img(src="img/sildedown.png",class="pull-right",style="width:25px")
    

  .container(style='padding: 0px 0;')
    //
      div(align='center')
        img(src='img/progress.png')
    .row-fluid(heigth)
      .span8
          div.btn-toolbar(style="height: 10px;padding-top: 0px;margin-left:10px;")
              .btn-group
                   //城市
                   div.btn-group
                       a(type="button",href="#",class="btn dropdown-toggle",data-toggle="dropdown",style="color: #555555;") 城 市
                           span.caret
                       ul.dropdown-menu(role="menu",aria-labelledby="dLabel")
                          li
                            a(href="#",onClick="conditionSelect('city','',true,true);",style="color: #FFFFFF;padding-left: 7px;") 不限
                            each dicCity in allDicCitys
                               li
                                 a(href="#",onClick="conditionSelect('city','#{dicCity.id}',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                                     if dicCity.id == conditionParams.city
                                         h4(style="color: rgb(170, 61, 70);")= dicCity.cityCname
                                     else
                                         | #{dicCity.cityCname}
                   //品牌
                   div.btn-group
                       a(type="button",href="#",class="btn dropdown-toggle",data-toggle="dropdown",style="color: #555555;") 品 牌
                          span.caret
                       ul.dropdown-menu
                          li
                            a(href="#",,onClick="conditionSelect('carModel','',false);conditionSelect('carBrand','',true);",style="color: #FFFFFF;padding-left: 7px;") 不限
                            each brand in allBrands
                              li
                                a(href="#",onClick="conditionSelect('carModel','',false);conditionSelect('carBrand','#{brand.id}',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                                  if brand.id == conditionParams.carBrand
                                    h4(style="color: rgb(170, 61, 70);")= brand.cname	
                                  else
                                    | #{brand.cname}
                   //车型
                   div.btn-group
                       a(type="button",href="#",class="btn dropdown-toggle",data-toggle="dropdown",style="color: #555555;") 车 型
                         span.caret
                       ul.dropdown-menu
                         li
                           a(href="#",onClick="conditionSelect('carModel','',true,true);",style="color: #FFFFFF;padding-left: 7px;") 不限
                           each carModel in carModels
                             li
                               a(href="#",onClick="conditionSelect('carModel','#{carModel.id}',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                                   if carModel.id == conditionParams.carModelLv1
                                       h4(style="color: rgb(170, 61, 70);")= carModel.cname
                                   else
                                       | #{carModel.cname}
                   //价格
                   div.btn-group
                       a(type="button",href="#",class="btn dropdown-toggle",data-toggle="dropdown",style="color: #555555;") 价 格
                          span.caret
                       ul.dropdown-menu
                         li
                           a(href="#",onClick="conditionSelect('priceMin','',false);conditionSelect('priceMax','',true,true);",style="color: #FFFFFF;padding-left: 7px;") 不限
                         li
                           a(href="#",onClick="conditionSelect('priceMin','1',false);conditionSelect('priceMax','5',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                               if conditionParams.priceMax == 5
                                  h4(style="color: rgb(170, 61, 70);") 1万 ~ 5万
                               else
                                  | 1万 ~ 5万
                         li
                           a(href="#",onClick="conditionSelect('priceMin','5',false);conditionSelect('priceMax','10',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                               if conditionParams.priceMax == 10
                                   h4(style="color: rgb(170, 61, 70);") 5万 ~ 10万
                               else
                                   | 5万 ~ 10万
                         li
                           a(href="#",onClick="conditionSelect('priceMin','10',false);conditionSelect('priceMax','20',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                               if conditionParams.priceMax == 20
                                   h4(style="color: rgb(170, 61, 70);") 10万 ~ 20万
                               else
                                   | 10万 ~ 20万
                         li
                           a(href="#",onClick="conditionSelect('priceMin','20',false);conditionSelect('priceMax','50',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                               if conditionParams.priceMax == 50
                                   h4(style="color: rgb(170, 61, 70);") 20万 ~ 50万
                               else
                                   | 20万 ~ 50万
                         li
                           a(href="#",onClick="conditionSelect('priceMin','50',false);conditionSelect('priceMax','',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                               if conditionParams.priceMin == 50
                                   h4(style="color: rgb(170, 61, 70);") 50万以上
                               else
                                   | 50万以上
      .span4
        .pagination.pagination-small.pagination-right(style='float:right;width:180px;margin: 10px 10px 0 0;')
           span(style='float:left;height: 25px;padding-top:6px;') #{carModelViews.currentPage} / #{carModelViews.pageCount}
           ul
             if carModelViews.firstPage
               li.disabled
                 a(href='#') 前一页
             -else
               li
                 a(href='#',onclick="conditionSelect('pageIndex','#{carModelViews.currentPage - 1}',true)") 前一页
                 
             if carModelViews.lastPage
               li.disabled
                 a(href='#') 后一页
             -else
               li
                 a(href='#',onclick="conditionSelect('pageIndex','#{carModelViews.currentPage + 1}',true)") 后一页
    hr(style='margin: 0px 0px 17px;')
     // 列表
    .row-fluid
      <ul class='thumbnails'>
      each carModelView, i in carModelViews.items
        li.span3(style="width:210px;margin-right: 13px;margin-left: 12px;")
          a.thumbnail(href='./car?id=#{carModelView.carModelLv1}', style='padding: 0px;')
            div(name='hoverdiv', style='height: 170px; width: 200px;')
              div(name='imgdiv', style='width: 190px; position: absolute;padding: 10px;')
                img(data-src='holder.js/210x140', alt='210x140', style='border-radius:4px 4px 0px 0px;width: 190px; height: 140px;padding: 0px 0px 0px;', src='img/car/#{carModelView.carModelLv1}.png')
                .caption(style="height: 20px; padding: 0px;")
                  h4.text-center(style="font-size:15px") 市场价:#{carModelView.factoryPriceMin}万 ～ #{carModelView.factoryPriceMax }万
              div(name='coverdiv', style='position: absolute; display: none;')
                div(style='height: 110px; padding: 20px;')
                  strong #{carModelView.brandCname} #{carModelView.cname}
                  h6 1.4T 1.8T 2.0T
                  h6 横置前驱
                  h6 7档双离合
                .caption(style='background-image: url(img/hover-price.png);padding:0px 0px 0px 0px; width: 210px; border-radius: 0px 0px 4px 4px;')
                  h4.text-center(style='color: #ffffff;font-size:15px;') 网站价:#{carModelView.shopPriceMin}万 ～ #{carModelView.shopPriceMax}万
          h5 #{carModelView.brandCname} #{carModelView.cname}
        if i != 0 && (i+1) % 4 == 0
          </ul><ul class='thumbnails'>
      </ul>
    div(style='padding-bottom: 30px;')
          div(style='border-top: 2px solid #ddd;')
            .row-fluid
              .span4
                ul.unstyled.text-left(style='margin: auto;')
                  li
                    h4#bottomh4
                      | 4S冰点购车
                  .row-fluid
                    .span4
                      img(src='img/haibao.jpg', alt='haibao')
                    .span8
                      ul.unstyled.text-left(style='margin-left: 10px;')
                        li
                          h6 斯柯达团购季这个盛夏大礼
                        li
                          h6 长安福特感恩回馈购车季大礼
                        li
                          h6 宁波长安铃木低优惠无下限
                        li
                          h6 宁波Mini团购低价尽享名流之爱
              .span4
                ul.unstyled.text-left(style='width: 60%; margin: auto;')
                  li
                    h4#bottomh4
                      | 站点公告
                  li
                    h6
                      img(src='img/paper_plane.png', alt='paper_plane', style='padding-bottom: 4px; margin-right: 10px;')
                      | 新车抢购页面全新改版通知。
                  li
                    h6
                      img(src='img/paper_plane.png', alt='paper_plane', style='padding-bottom: 4px; margin-right: 10px;')
                      | Teecar网诚招英才。
                  li
                    h6
                      img(src='img/paper_plane.png', alt='paper_plane', style='padding-bottom: 4px; margin-right: 10px;')
                      | Teecar新浪官微正式开通
              .span4
                ul.unstyled.text-left(style='margin: auto;')
                  li
                    h4#bottomh4
                      | 优惠栏目
                  .row-fluid
                    .span4
                      img(src='img/TEECARlogo.png', alt='TEECARlogo')
                    .span8
                      ul.unstyled.text-left(style='margin-left: 10px;')
                        li
                          h6
                            img(src='img/location.png', alt='location', style='padding-bottom: 4px; margin-right: 10px;')
                            | LEON 2012款 2.0TSI CUPRA 降11.48万
                        li
                          h6
                            img(src='img/location.png', alt='location', style='padding-bottom: 4px; margin-right: 10px;')
                            | 卡罗拉 2011款 1.6L 手动GL 降4.3万
                        li
                          h6
                            img(src='img/location.png', alt='location', style='padding-bottom: 4px; margin-right: 10px;')
                            | 林肯MKT 2010款 3.5L EcoBoost AWD 降38万

  form(action="/",method="get",id="conditionform")
    input(type="hidden",name="pageIndex",id="form_pageIndex",value="#{conditionParams.pageIndex}")
    input(type="hidden",name="carBrand",id="form_carBrand",value="#{conditionParams.carBrand}")
    input(type="hidden",name="carModelLv1",id="form_carModel",value="#{conditionParams.carModelLv1}")
    input(type="hidden",name="priceMin",id="form_priceMin",value="#{conditionParams.priceMin}")
    input(type="hidden",name="priceMax",id="form_priceMax",value="#{conditionParams.priceMax}")
    input(type="hidden",name="city",id="form_city",value="#{conditionParams.city}")
    input(type="hidden",name="isRefresh",id="isRefresh",value="true")

  script.
    // 提交筛选事件
    function conditionSelect(type,value,needSubmit,needInitPage){
      $("#form_" + type).val(value);
      
      if(needInitPage){
        $("#form_pageIndex").val('');
      }
      
      if(needSubmit == true){
        $("#conditionform").submit();
      }
    }
    
    // 汽车图片浮动效果
    $("div[name='hoverdiv']").each(function(index,value){
      $(value).hover(function(){
        $(this).find("div[name='imgdiv']").fadeTo('slow',0.03);
        $(this).find("div[name='coverdiv']").fadeToggle('slow');
      },function(){
        $(this).find("div[name='imgdiv']").fadeTo('slow',1);
        $(this).find("div[name='coverdiv']").fadeToggle('slow');
      });
    });
    
    $(document).ready(function() {
      $('#carousel').carouFredSel({
        width: '100%',
        items: {
          visible: 3,
          start: -1
        },
        scroll: {
          items: 1,
          duration: 1000,
          timeoutDuration: 3000
        },
        prev: '#prev',
        next: '#next',
        pagination: {
          container: '#pager',
          deviation: 1
        }
      });
    });
    //广告栏鼠标悬停效果
    var carouselIsHover = false;
    $("#banner").hover(function(){
        carouselIsHover = true;
    },function(){
        carouselIsHover = false;
    });
    $("#banner").click(function(){
        $("#wrapperOpener").hide();
        $("#wrapper").slideDown('slow');
        
    });
    $(document).click(function(){
        if(!carouselIsHover){
            $("#wrapper").slideUp('slow',function(){
                $("#wrapperOpener").show();
            });
        }
    });
    $('.dropdown-toggle').dropdown();
    $("div.btn-toolbar div.btn-group>.dropdown-toggle").bind("mouseenter",function(){
        $(this).click();
    });
    