extends layout/managerFrame

block append body
  div(style="margin:auto;width:1000px;margin-top:20px;height:550px;overflow:scroll;")
    table(style="width:985px;",border="1")
      tr
        td 品牌
        td 车型
        td 状态
        td 出厂价格
        td 用户提交价格
        td 网站销售价格
        td 经销商
        td 经销商电话
        td 用户名
        td 用户邮箱
        td 用户电话
        td 订单改变时间
        td 订单时间
      each item in data
        tr
          td #{item.cnameCb}/#{item.cnameLv1}
          td #{item.fullName}
          td
            if item.state == "user_commit"
              span 用户提交
            else if item.state == "shop_agree"
              span 4s店同意
            else if item.state == "shop_commit"
              span 4s店提交
            else if item.state == "price_success"
              span 议价成功
            else if item.state == "price_fail"
              span 议价失败
            else
              span 已生成订单
          td #{item.originalPrice}
          td #{item.userPrice}
          td #{item.shopPrice}
          td #{item.shopName}
          td #{item.shopTel}
          td #{item.userName}
          td #{item.userEmail}
          td #{item.userTel}
          td= moment(item.stateChangeDate).format("YYYY-MM-DD HH:mm:ss")
          td= moment(item.orderCreateDate).format("YYYY-MM-DD HH:mm:ss")