extends layout/managerFrame

block append body
  div(style="margin:auto;width:1000px;margin-top:20px;height:550px;overflow:scroll;")
    table(style="width:985px;",border="1")
      tr
        td 优惠编号
        td 品牌
        td 车型
        td 价格
        td 经销商
        td 经销商电话
        td 用户名
        td 用户邮箱
        td 用户电话
        td 订单时间
      each item in data
        tr
          td #{item.ticketSn}
          td #{item.cnameCb}/#{item.cnameLv1}
          td #{item.fullName}
          td #{item.factoryPrice}
          td #{item.shopName}
          td #{item.shopTel}
          td #{item.userName}
          td #{item.userEmail}
          td #{item.phoneNum}
          td= moment(item.createDate).format("YYYY-MM-DD HH:mm:ss")