extends layout/mainFrame

block append js
    script(src='js/async.js')

block append content
  .container(style='padding: 10px 0;')
    legend 库存编辑
    form.form-horizontal.span6#saveShopStockForm
        .control-group
          label.control-label(for='carModelLv1') 车型
          .controls
            select#carModelLv1(name="carModelLv1")
              option(value="") 请选择车型...
              each item in carModelLv1
                option(selected=item.id==shopStockView.carModelLv1Id,value="#{item.id}") #{item.cname}
            br
            br
            select#carModelLv2(name="carModelLv2")
              option(value="") 请选择...
            br
            br
            select#carModelLv3(name="carModelLv3")
              option(value="") 请选择...
              
        .control-group
          label.control-label(for='carOutsideColor') 外观颜色
          .controls
            select#carOutsideColor(name="carOutsideColor")
        .control-group
          label.control-label(for='carInsideColor') 内饰颜色
          .controls
            select#carInsideColor(name="carInsideColor")
        .control-group
            label.control-label(for='carAdditions') 附加配置
            .controls
               each carAddition in carAdditions
                  input(name="carAdditions",type="checkbox",value=carAddition.id)
                  | #{carAddition.content} &nbsp;
        .control-group
          label.control-label(for='carAddition') 备注
          .controls
            textarea(id="carAddition",name="carAddition")= shopStockView.carAddition
        .control-group
          label.control-label(for='carPrice') 价格
          .controls
            input#carPrice(name="carPrice",type='text', placeholder='价格',value=shopStockView.carPrice)
        .control-group
          label.control-label(for='carOnHandNum') 库存(现货/在途)
          .controls
            input#carOnHandNum.span1(name="carOnOrderNum",type='text', placeholder='现货',value=shopStockView.carOnOrderNum)
            | /
            input#carOnOrderNum.span1(name="carOnHandNum",type='text', placeholder='在途',value=shopStockView.carOnHandNum)
        .control-group
          .controls
            input(name="id",value=shopStockView.id,type="hidden")
            a.btn.pull-right(href='./shophome') 返回
            a.btn.pull-right.btn-primary(href='#', onClick="saveStock()") 保存
      #saveSucModal.modal.hide.fade
        .modal-body
          p 保存成功
        .modal-footer
          a.btn(href='#', onclick='window.location.href="./shophome"', data-dismiss='modal', aria-hidden='true') 确定
  script.
    function carModelLv1Change(callback){
        var carModelLv1Id = $("#carModelLv1 option:selected").val();
        if(carModelLv1Id != ""){
            $.getJSON("/dic?type=getCarModelLv2ByLv1Id&carModelLv1Id=" + carModelLv1Id,function(data){
                $("#carModelLv2").empty();
                $("#carModelLv2").append("<option value=''>请选择...</option>");
                $.each(data,function(index,carModelLv2){
                    if(carModelLv2.id == '#{shopStockView.carModelLv2Id}'){
                        $("#carModelLv2").append("<option selected=selected value='" + carModelLv2.id + "'>" + carModelLv2.fullName+ "</option>");
                    }
                    else{
                        $("#carModelLv2").append("<option value='" + carModelLv2.id + "'>" + carModelLv2.fullName+ "</option>");
                    }
                });
                if(typeof(callback) == "function"){
                    callback();
                }
            });
        }
    }

    $("#carModelLv1").change(carModelLv1Change);

    function carModelLv2Change(callback){
        var carModelLv2Id = $("#carModelLv2 option:selected").val();
        $.getJSON("/dic?type=getCarModelLv3ByLv2Id&carModelLv2Id=" + carModelLv2Id,function(data){
            $("#carModelLv3").empty();
            $("#carModelLv3").append("<option value=''>请选择...</option>");
            $.each(data,function(index,carModelLv3){
                if(carModelLv3.id == '#{shopStockView.carModelLv3}'){
                    $("#carModelLv3").append("<option selected=selected value='" + carModelLv3.id + "'>" + carModelLv3.fullName+ "</option>");
                }
                else{
                    $("#carModelLv3").append("<option value='" + carModelLv3.id + "'>" + carModelLv3.fullName+ "</option>");
                }
            });
            if(typeof(callback) == "function"){
                callback();
            }
        });
    }
    $("#carModelLv2").change(carModelLv2Change);


    function carModelLv3Change(){
        var carModelLv3Id = $("#carModelLv3 option:selected").val();
        $.getJSON("/dic?type=getDicColorByCarModelLv3&carModelLv3Id=" + carModelLv3Id,function(data){
            $("#carOutsideColor").empty();
            $("#carInsideColor").empty();
            $("#carOutsideColor").append("<option value=''>请选择...</option>");
            $("#carInsideColor").append("<option value=''>请选择...</option>");
            $.each(data,function(index,dicColor){
                if(dicColor.id == '#{shopStockView.carOutsideColor}'){
                    $("#carOutsideColor").append("<option selected=selected value='" + dicColor.id + "'>" + dicColor.colorCname+ "</option>");
                }
                else{
                    $("#carOutsideColor").append("<option value='" + dicColor.id + "'>" + dicColor.colorCname+ "</option>");
                }
                if(dicColor.id == '#{shopStockView.carInsideColor}'){
                    $("#carInsideColor").append("<option selected=selected value='" + dicColor.id + "'>" + dicColor.colorCname+ "</option>");
                }
                else{
                    $("#carInsideColor").append("<option value='" + dicColor.id + "'>" + dicColor.colorCname+ "</option>");
                }
            });
        });
    }
    $("#carModelLv3").change(carModelLv3Change);


    carModelLv1Change(
        function(){
            carModelLv2Change(function(){
                carModelLv3Change();
            });
        }
    );

    function saveStock(){
         $.post("/shopstock?type=saveShopStock", $("#saveShopStockForm").serialize())
        .done(function(data) {
             if(data.saveSuc == true){
                 $("#saveSucModal").modal("show");
             }
             else{
                alert("保存错误，请检查输入是否正确！");
             }
         });
    }
