extends layout/mainFrame
block append css
  link(rel="stylesheet",href="css/jquery.simplyscroll.css",media="all",type="text/css")
  link(href='css/shop_home.css', rel='stylesheet', media='screen')

block append content
  .container(style='padding: 10px 0;')
    .row
        .span2
          ul.nav.nav-pills.nav-stacked(style='width: 150px;')
            li.text-center.active
              a.text-left(onclick='', href='#car_manager', data-toggle='pill') 销售库存管理
            li.text-center
              a.text-left(href='#car_order', data-toggle='pill') 预约订单管理
            li.text-center
              a.text-left(href='#stock_empty_car_order', data-toggle='pill') 无库存预约管理
            li.text-center
              a.text-left(href='#submit_price',data-toggle='pill') 用户提交价格管理
            li.text-center
              a.text-left(href='#off_ticket',data-toggle='pill') 用户领取优惠券管理
            li.text-center
              a.text-left(href='#shop_info', data-toggle='pill') 信息维护
            li.text-center
              a.text-left(href='#change_psw', data-toggle='pill') 修改密码
        .span10.tab-content
          #car_manager.tab-pane.active
            legend 销售库存管理
            input.btn.btn-primary.pull-right.span2(type='button', onclick="window.location.href='/stockeditor'", value='新建')
            table.table.stockTable
              thead
                tr
                  th  型号
                  th  外观颜色
                  th  内饰颜色
                  th  价格
                  th  库存(现货/在途)
                  th  备注
                  th  操作
              tbody
                each item in shopStockView
                  tr#shopStockTr(style='cursor: pointer;', onclick="focusTr(this,'tr#{item.id}')")
                    td  #{item.carBrandCname} #{item.carModelLv1Cname} #{item.carModelLv3FullName}
                    td  #{item.carOutsideColorName}
                    td  #{item.carInsideColorName}
                    td  #{item.carPrice}万
                    td  #{item.carOnOrderNum} / #{item.carOnHandNum}
                    td  点击展开
                    td
                      a(href="./stockeditor?id=#{item.id}") 修改
                  tr.shopStockTr(id="tr#{item.id}",style='display: none')
                    td(colspan='7')
                      table
                        tbody
                          tr.detail
                            td(style="color:#555555;font-weight: bold") 详细配置说明
                            td #{item.carAddition}
          #car_order.tab-pane
            legend 预约订单管理
            table.table.stockTable
              thead
                tr
                  th 订单序号
                  th 订单名称
                  th 订单类型
                  th 订单日期
                  th 订购人姓名
                  th 订购人电话
                  th 汽车金额
                  th 当前状态
              tbody
                each item in userOrder
                  tr
                    td= item.orderSn
                    td= item.orderTitle
                    td= item.orderStateCName
                    td= moment(item.orderCreateDate).format("YYYY-MM-DD HH:mm:ss")
                    td= item.userName
                    td= item.userTel
                    td(style="text-align: center;") #{item.orderPrice}万
                    td("white-space: nowrap")
                        select(onfocus="this.preValue = this.value",onchange="selectorOnChange(this,'orderState','#{item.id}');",style="width:75px;")
                            if(item.orderProcessState == 'wait_contact')
                                option(selected=item.orderProcessState=='wait_contact',value="wait_contact") 未跟进
                            if(item.orderProcessState == 'wait_contact' || item.orderProcessState == 'has_contact')
                                option(selected=item.orderProcessState=='has_contact',value="has_contact") 已跟进
                            if(item.orderProcessState == 'wait_contact' || item.orderProcessState == 'has_contact' || item.orderProcessState == 'order_submit')
                                option(selected=item.orderProcessState=='order_submit',value="order_submit") 已订车
                            if(item.orderProcessState == 'wait_contact' || item.orderProcessState == 'has_contact' || item.orderProcessState == 'order_submit' || item.orderProcessState == 'picked')
                                option(selected=item.orderProcessState=='picked',value="picked") 已取车
          #stock_empty_car_order.tab-pane
            legend 预约订单管理
            table.table.stockTable
                thead
                    tr
                        th 订单名称
                        th 订单类型
                        th 订单日期
                        th 订购人姓名
                        th 订购人电话
                        th 汽车金额
                tbody
                    each item in stockEmptyUserOrder
                        tr
                            td= item.orderTitle
                            td= item.orderStateCName
                            td= moment(item.orderCreateDate).format("YYYY-MM-DD HH:mm:ss")
                            td= item.userName
                            td= item.userTel
                            td(style="text-align: center;") #{item.orderPrice}万
          #submit_price.tab-pane
            legend 用户提交价格管理
            table.table.stockTable
              thead
                tr
                   th 提交日期
                   th 车型
                   th 用户提交价格(万)
                   th 4S店提交价格(万)
                   th 订购人姓名
                   th 订购人电话
                   th 状态
                   th 操作
              tbody
                each item in userSubmitPrice
                  tr
                    td= moment(item.createDate).format("YYYY-MM-DD HH:mm:ss")
                    td #{item.shopStockView.carBrandCname}&nbsp;#{item.shopStockView.carModelLv1Cname}&nbsp;#{item.shopStockView.carModelLv3FullName}
                    td(style="text-align: center;") #{item.userPrice}
                    td(style="text-align: center;") #{item.shopPrice}
                    td= item.userName
                    td= item.userTel
                    td #{item.stateText}
                    td
                        if(item.state == "user_commit")
                            a(href="#",onclick="processUserSubmitPriceState('#{item.id}','#{item.shopStockView.carBrandCname}&nbsp;#{item.shopStockView.carModelLv3FullName}','#{item.originalPrice}','#{item.userPrice}')") 处理
            div(id="stateChangeModal",class="modal hide fade",tabindex="-1",role="dialog",aria-hidden="true")
                .modal-header
                    button(type="button",class="close",data-dismiss="modal",aria-hidden="true") x
                    h3 处理用户提交价格
                .modal-body
                    div.well.well-small
                        div(style="float:left;width:40%;text-align:center;")
                            p#stateChangeModal_carModel
                        div(style="float:left;width:30%;text-align:center;")
                            p#stateChangeModal_originalPrice
                        div(style="float:left;width:30%;text-align:center;")
                            p#stateChangeModal_userPrice
                    div.well.well-small
                        table(style="width:100%;")
                            tr
                                td(style="width:55%;")
                                    div(style="text-align:center;")
                                        p 同意客户的价格，
                                        | 直接进行确认将生成客户购车订单
                                        form#processSubmitPriceStateForm(method="post")
                                            a.btn.btn-small(href="#",onclick="changeStateToShopAgree()") 确认价格
                                td(style="width:2%")
                                    img(src="img/servciesVerticalLine.png")
                                td(style="width:43%;")
                                    div(style="text-align:center;")
                                        form#processSubmitPriceStateForm(method="post")
                                            p 不同意客户价格，
                                            | 再提交商议价格让客户确认
                                            input#shopPrice.input.input-small.span2(type="text",id="shopPrice",name="shopPrice",placeholder="商议价格")
                                            br
                                            a.btn.btn-small(href="#",onclick="changeStateToShopCommit()") 提价商议价格
          #off_ticket.tab-pane
              legend 用户领取优惠券管理
              table.table.stockTable
                  thead
                      tr
                          th 领取日期
                          th 车型
                          th 优惠券金额
                          th 订购人姓名
                          th 订购人电话
                          th 优惠卷编码
                          th 状态
                          th 操作

                  tbody
                      each item in userOffTicket
                          tr(style="height:60px")
                              td(style="padding:20px 3px")= moment(item.createDate).format("YYYY-MM-DD HH:mm:ss")
                              td(style="padding:20px 3px") #{item.shopStockView.carBrandCname}&nbsp;#{item.shopStockView.carModelLv1Cname}&nbsp;#{item.shopStockView.carModelLv3FullName}
                              td(style="padding:20px 3px") 500元
                              td= item.userName
                              td= item.userTel
                              td(style="padding:20px 3px")= item.ticketSn
                              td(style="padding:20px 3px")= item.stateText
                              td(style="padding:20px 3px")
                                  if(item.state == "waiting_confirm")
                                      a(href="#",onclick="openCheckBillSnModal('#{item.id}','#{item.userName}','#{item.userTel}','#{item.billSn}');return false;") 确认凭据
              div(id="checkBillSnModal",class="modal hide fade",tabindex="-1",role="dialog",aria-hidden="true")
                  .modal-header
                      button(type="button",class="close",data-dismiss="modal",aria-hidden="true") x
                      h3 验证用户提交凭据信息
                  .modal-body
                      div.well.well-small
                          div(style="float:left;width:50%;text-align:center;")
                              p#checkBillSnModal_userName
                          div(style="text-align:center;")
                              p#checkBillSnModal_userTel

                      div.well.well-small
                          div(style="text-align:center;")
                              p#checkBillSnModal_billSn(style="font-size:18px;color:red")
                              br
                              p 请根据以下几项仔细检查用户提交信息是否正确:
                              p 1.请根用户信息检查凭据号是否存在并正确
                              p 2.是否已经在此次购车中领取过优惠券
                              br
                              a.btn(href="#",onclick="confirmBillSn();") 确认
          #shop_info.tab-pane
            legend 信息维护
            form.form-horizontal#saveshopForm(method="post",action="/shop?type=saveshop",style="width:400px;")
              .control-group
                label.control-label(for='shopName') 4S店名
                .controls
                  input#shopName(name="shopName",type='text', value='#{shop.shopName}')
              .control-group
                label.control-label(for="shopCity") 城市
                .controls
                  select(id="shopCity",name="shopCity")
                    option(value="") 选择城市
              .control-group
                label.control-label(for='shopTel') 电话
                .controls
                  input#shopTel(name="shopTel",type='text', value='#{shop.shopTel}')
              .control-group
                label.control-label(for='shopEmail') 邮箱
                .controls
                  input#shopEmail(name="shopEmail",type='text', value='#{shop.shopEmail}')
              .control-group
                label.control-label(for='shopAddress') 地址
                .controls
                  textarea#shopAddress(name="shopAddress",placeholder='地址', rows='3') #{shop.shopAddress}
              div.alert.alert-error.hide#save-error 修改失败
              div.alert.alert-success.hide#save-succee 修改成功
              .control-group
                .controls
                  a(href="#",class="btn btn-primary pull-right",onclick="saveshop()") 保存
          #change_psw.tab-pane
            legend 修改密码
            .span5
              form.form-horizontal
                .control-group
                  label.control-label(for='oldpsw') 原密码
                  .controls
                    input#oldpsw(type='text', placeholder='原密码')
                .control-group
                  label.control-label(for='newpsw') 新密码
                  .controls
                    input#newpsw(type='text', placeholder='新密码')
                .control-group
                  label.control-label(for='confnewpsw') 确认新密码
                  .controls
                    input#confnewpsw(type='text', placeholder='确认新密码')
                .control-group
                  .controls
                    button.btn.btn-primary.pull-right.span2 提交
  script.
    function saveshop(){
        $.post("/shop?type=saveshop", $("#saveshopForm").serialize())
        .done(function(data) {
             if(data.saveSuc){
                 $("#save-succee").show();
                 $("#save-error").hide();
             }
             else{
                 $("#save-succee").slideUp();
                 $("#save-error").slideDown();
             }
         });
     }


    $(document).ready(function(){
      $.getJSON("/dic?type=DicCity",function(data){
          $.each(data,function(i,e){
             $("#shopCity").append("<option value=" + e.id + ">" + e.cityCname +  "</option>");
          });
          $("#shopCity").val("#{shop.shopCity}");
      });
    });

    function selectorOnChange(e,type,id){
        //获取原值和要更新的值
        var currentValue = e.value;
        var preValue = e.preValue;

        //在未确定前，不能再进行变更
        $(e).attr("disabled","disabled");

        //添加确定和取消操作按钮
        $(e).after($("<input/>").attr("type","button").attr("display","none").addClass("btn").addClass("btn-mini").val("取消").click(function(){
            e.value = preValue;
            $(e).next().fadeOut(function(){
                $(e).next().remove();
            });
            $(this).fadeOut(function(){
                $(this).remove();
            });
            $(e).removeAttr("disabled");
        }).fadeIn());

        //绑定点确定啊按钮时的事件
        $(e).after($("<input/>").attr("type","button").attr("display","none").addClass("btn").addClass("btn-mini").val("确定").click(function(){
            if(type == "orderState"){
                $.post("/changeUserOrderProcessState",{id:id,state:currentValue}).done(function(data){
                    if(data.updateSucc == true){
                        $(e).next().fadeOut(function(){
                            $(e).next().remove();
                        });
                        $(e).next().next().fadeOut(function(){
                            $(e).next().next().remove();
                        });
                        $(e).removeAttr("disabled");
                        $(e).find("option:selected").prevAll().remove();
                    }
                });
            }
            else if(type == "priceState"){
                $.post("/changeUserSubmitPriceProcessState",{id:id,state:currentValue}).done(function(data){
                    if(data.updateSucc == true){
                        $(e).next().fadeOut(function(){
                            $(e).next().remove();
                        });
                        $(e).next().next().fadeOut(function(){
                            $(e).next().next().remove();
                        });
                        $(e).removeAttr("disabled");
                    }
                });
            }
        }));
    }



    var currentFocusTr = "";
    function focusTr(elment,trId){
      if(currentFocusTr != ""){
        if(currentFocusTr != trId){
          $("#" + currentFocusTr).hide();
        }
        else{
          $("#" + trId).fadeOut(0);
        }
      }
      if(currentFocusTr != trId){
        $("#" + trId).fadeIn(0);
        currentFocusTr = trId;
      }
      else{
        currentFocusTr = "";
      }
    }

    var currentUserSubmitPriceId = "";

    function processUserSubmitPriceState(id,model,originalPrice,userPrice){
        $("#stateChangeModal #stateChangeModal_carModel").html("车型：" + model);
        $("#stateChangeModal #stateChangeModal_originalPrice").html("原价：" + originalPrice + "万")
        $("#stateChangeModal #stateChangeModal_userPrice").html("用户价格：" + userPrice + "万");
        currentUserSubmitPriceId = id;
        $("#stateChangeModal").modal('show');
    }



    function changeStateToShopAgree(){
        $.post("/changeUserSubmitPriceState",{id:currentUserSubmitPriceId,state:"shop_agree"}).done(function(result){
            if(result.changeResult == true){
                window.location.reload();
            }
        });
    }

    function changeStateToShopCommit(){
        var shopPrice = $("#processSubmitPriceStateForm #shopPrice").val();
        $.post("/changeUserSubmitPriceState",{id:currentUserSubmitPriceId,state:"shop_commit",shopPrice:shopPrice}).done(function(result){
            if(result.changeResult == true){
                window.location.reload();
            }
        });
    }

    var currentUserOffTicketId;
    var billSn;
    function openCheckBillSnModal(id,userName,userTel,billSn){
        $("#checkBillSnModal #checkBillSnModal_userName").html("姓名：" + userName);
        $("#checkBillSnModal #checkBillSnModal_userTel").html("电话：" + userTel)
        $("#checkBillSnModal #checkBillSnModal_billSn").html("凭据号：" + billSn);
        currentUserOffTicketId = id;
        billSn = billSn;
        $("#checkBillSnModal").modal('show');
    }

    function confirmBillSn(){
        var id = currentUserOffTicketId;
        $.post("./changeUserOffTicketState",{id:id,state:"finish"}).done(function(result){
        if(result.changeResult == true){
            window.location.reload();
        }
    });
    }
