extends layout/mainFrame

block append css
  link(href='css/shop_info.css', rel='stylesheet')
block append js

block append content
  .container(style='padding: 45px 0px 0px 0px;')
    //
         shop header 
      .media(style='padding: 20px 0px 20px 0px;')
        a.pull-left(href='#')
          //img.media-object(src='img/shops/#{shop.id}.jpg')
          img.media-object(src='img/shops/#{shop.id}.jpg')
        .media-body
          h4.media-heading #{shop.shopName}
          | 地址：#{shop.shopAddress}
          span(style="color:#4083a9") &nbsp;&nbsp;&nbsp;&nbsp;[查看地图]
          img(src="img/icon_map.png")
          br
          | 电话：#{shop.shopTel}
          img(src="img/icon_phone.png")
      //
         condition

      .row-fluid#carModelView
  script.
    $(document).ready(function(){
      //初始化汽车数据
      $("#carModelView").load("./cardata?type=getCarModelPagination&shop=#{shop.id}&shide=city,brand");
    });
