//
   Created by ruihuang on 13-8-27.

extends layout/mainFrame

block append css
  link(href='css/user_home.css', rel='stylesheet', media='screen')

block append content
    .container(style='padding: 10px 0;')
        .row
            .span2
                ul.nav.nav-pills.nav-stacked(style='width: 150px;')
                    li.text-center.active
                        a(href='#orderlist', data-toggle='pill') 订单管理
                    li.text-center
                        a(href='#myfavorite', data-toggle='pill') 我的收藏
                    li.text-center
                        a(href='#myinfo', data-toggle='pill') 我的信息
                    li.text-center
                        a(href='#changepsw', data-toggle='pill') 修改密码
            .span10.tab-content
                #orderlist.tab-pane.active
                    legend &nbsp;&nbsp;订单管理
                    ul.nav.nav-pills
                        li.active
                            a(href='#order_car', data-toggle='tab') 预定购买订单
                        li
                            a(href='#stock_empty_order_car', data-toggle='tab') 无库存预定
                        li
                            a(href='#my_price', data-toggle='tab') 我的价格记录
                        li
                            a(href='#off_price', data-toggle='tab') 领取优惠券记录
                    .tab-content
                        #order_car.tab-pane.active
                            table.table
                                thead
                                    tr
                                        th 订单序号
                                        th 订单名称
                                        th 订单日期
                                        th 汽车金额
                                        th 订单状态
                                        th 操作
                                tbody
                                    each item in userOrder
                                        tr(style="height:60px")
                                            td(style="padding:20px 8px")= item.orderSn
                                            td(style="padding:20px 8px")= item.orderTitle
                                            td(style="padding:20px 8px")= moment(item.orderCreateDate).format("YYYY-MM-DD HH:mm:ss")
                                            td(style="color:#ec6197;padding:20px 8px") #{item.orderPrice}万
                                            td(style="padding:20px 8px")= item.orderStateCName
                                            td(style="padding:20px 8px;width:65px")
                                                a(href='#') 取消
                                                | /
                                                a(href='#') 付款
                        #stock_empty_order_car.tab-pane
                            table.table
                                thead
                                    tr
                                        th 订单名称
                                        th 订单日期
                                        th 汽车金额
                                tbody
                                    each item in stockEmptyUserOrder
                                        tr(style="height:60px")
                                            td(style="padding:20px 8px")= item.orderTitle
                                            td(style="padding:20px 8px")= moment(item.orderCreateDate).format("YYYY-MM-DD HH:mm:ss")
                                            td(style="color:#ec6197;padding:20px 8px") #{item.orderPrice}万
                        #my_price.tab-pane
                            table.table
                                thead
                                    tr
                                        th 提交日期
                                        th 车型
                                        th 我提交的价格
                                        th 状态
                                        th 操作
                                tbody
                                    each item in userSubmitPrice
                                        tr
                                          td= moment(item.createDate).format("YYYY-MM-DD HH:mm:ss")
                                          td #{item.shopStockView.carBrandCname}&nbsp;#{item.shopStockView.carModelLv1Cname}&nbsp;#{item.shopStockView.carModelLv3FullName}
                                          td(style="color: #ec6197;") #{item.userPrice}万
                                          td #{item.stateText}
                                          td
                                            if(item.state == "shop_commit")
                                                a(href="#",onclick="processUserSubmitPriceState('#{item.id}','#{item.shopStockView.carBrandCname}&nbsp;#{item.shopStockView.carModelLv3FullName}','#{item.originalPrice}','#{item.userPrice}','#{item.userPrice}','#{item.shopStock}')") 处理
                                            if(item.state == "shop_agree" || item.state == "price_success")
                                                a(href="#",onclick="createCarOrder('#{item.shopStock}','#{item.id}')") 创建订单
                            div(id="stateChangeModal",class="modal hide fade",tabindex="-1",role="dialog",aria-hidden="true")
                                .modal-header
                                    button(type="button",class="close",data-dismiss="modal",aria-hidden="true") x
                                    h3 处理用户提交价格
                                .modal-body
                                    div.well.well-small
                                        div(style="float:left;width:33%;text-align:center;")
                                            p#stateChangeModal_carModel
                                        div(style="float:left;width:33%;text-align:center;")
                                            p#stateChangeModal_originalPrice
                                        div(style="text-align:center;")
                                            p#stateChangeModal_shopPrice
                                    div.well.well-small
                                        table(style="width:100%;")
                                            tr
                                                td(style="width:49%;")
                                                    div(style="text-align:center;")
                                                        p 同意4S店提出的新价格，
                                                        | 进行确认将生成购车订单
                                                        br
                                                        a.btn.btn-small(href="#",onclick="agreePrice()") 同意价格
                                                td(style="width:2%")
                                                    img(src="img/servciesVerticalLine.png")
                                                td(style="width:49%;")
                                                    div(style="text-align:center;")
                                                        p 不同意4S店提出的新价格，
                                                        | 放弃议价，此次议价将结束
                                                        br
                                                        a.btn.btn-small(href="#",onclick="cancelPrice()") 放弃议价
                        #off_price.tab-pane
                            table.table
                                thead
                                    tr
                                        th 领取日期
                                        th 车型
                                        th 优惠券金额
                                        th 优惠卷号码
                                        th 状态
                                        th 操作
                                tbody
                                    each item in userOffTicket
                                        tr(style="height:60px")
                                            td(style="padding:20px 8px")= moment(item.createDate).format("YYYY-MM-DD HH:mm:ss")
                                            td(style="padding:20px 8px") #{item.shopStockView.carBrandCname}&nbsp;#{item.shopStockView.carModelLv1Cname}&nbsp;#{item.shopStockView.carModelLv3FullName}
                                            td(style="padding:20px 8px") 500元
                                            td(style="padding:20px 8px")= item.ticketSn
                                            td(style="padding:20px 8px")= item.stateText
                                            td(style="padding:20px 3px")
                                                if(item.state == "has_send")
                                                    a(href="#",onclick="openSubmitBillSnModal('#{item.id}');return false;") 提交凭据，领取返现
                            div(id="submitBillSnModal",class="modal hide fade",tabindex="-1",role="dialog",aria-hidden="true")
                                .modal-header
                                    button(type="button",class="close",data-dismiss="modal",aria-hidden="true") x
                                    h3 提交凭据信息
                                .modal-body
                                    div.well.well-small
                                        div(style="text-align:center;")
                                            p 请输入您购车的发票信息，4S店工作人员核实后将立即获得返现
                                            br
                                            input#billSn.input(style="margin-bottom: 0px;margin-right:5px;",type="text",id="billSn",name="billSn",placeholder="请输入发票号")
                                            a.btn(href="#",onclick="submitBillSn();") 提交
                #myfavorite.tab-pane
                    legend 我的收藏
                    table.table
                        thead
                            tr
                                th 品牌
                                th 车型
                                th 收藏时间
                                th 操作
                        tbody
                            each item in userCarFavorite
                                tr(style="height:60px",id="favorite_tr#{item.carModelLv1}")
                                    td(style="padding:20px 8px")= item.brandCName
                                    td(style="padding:20px 8px")
                                        a(href="./car?id=#{item.carModelLv1}")=item.carModelLv1FullName
                                    td(style="padding:20px 8px")= moment(item.createDate).format("YYYY-MM-DD HH:mm:ss")
                                    td(style="padding:20px 8px")
                                        a(href="#",onclick="delFavorite('#{item.carModelLv1}');return false;") 删除
                #myinfo.tab-pane
                    legend &nbsp;&nbsp;我的信息
                    .span4
                        dl.dl-horizontal(style='font-size: 12pt;')
                            dt 姓名
                            dd= session.currentUser.userName
                            br
                            dt 电话
                            dd= session.currentUser.userTel
                            br
                            dt 邮箱地址
                            dd= session.currentUser.userEmail
                        button.btn.btn-primary.pull-right.span2 提交
                #changepsw.tab-pane
                    legend &nbsp;&nbsp;修改密码
                    .span5
                        form.form-horizontal
                            .control-group
                                label.control-label(for='oldpsw') 原密码
                                .controls
                                    input#oldpsw(type='text', placeholder='原密码')
                            .control-group
                                label.control-label(for='newpsw') 新密码
                                .controls
                                    input#newpsw(type='text', placeholder='新密码')
                            .control-group
                                label.control-label(for='confnewpsw') 确认新密码
                                .controls
                                    input#confnewpsw(type='text', placeholder='确认新密码')
                            .control-group
                                .controls
                                    button.btn.btn-primary.pull-right.span2 提交
    div.modal.hide.fade#favoriteDelSuc(style="tabindex='-1',role='dialog'")
        div.modal-body
            p 删除收藏成功
        div.modal-footer
            button.btn.btn-primary(onClick="$('#favoriteDelSuc').modal('hide');return false;") 确认
    script.
        function delFavorite(carModelLv1){
            $.post("./user?type=favorite", {carModelLv1:carModelLv1,action:'del'}).done(
                function(data) {
                    if(data.processResult == true){
                        $("#favorite_tr" + carModelLv1).remove();
                        $('#favoriteDelSuc').modal('show');
                    }
                }
            );
        }

        var currentUserSubmitPriceId;
        var shopStockId;
        function processUserSubmitPriceState(id,model,originalPrice,userPrice,shopPrice,shopStock){
             $("#stateChangeModal #stateChangeModal_carModel").html("车型：" + model);
             $("#stateChangeModal #stateChangeModal_originalPrice").html("原价：" + originalPrice + "万")
             $("#stateChangeModal #stateChangeModal_userPrice").html("用户价格：" + userPrice + "万");
             $("#stateChangeModal #stateChangeModal_shopPrice").html("4S店价格：" + shopPrice + "万");
             currentUserSubmitPriceId = id;
             shopStockId = shopStock;
             $("#stateChangeModal").modal('show');
         }

        function agreePrice(){
            $.post("/changeUserSubmitPriceState",{id:currentUserSubmitPriceId,state:"price_success"}).done(function(result){
                if(result.changeResult == true){
                    createCarOrder(shopStockId,currentUserSubmitPriceId);
                }
            });
        }

        function cancelPrice(){
            $.post("/changeUserSubmitPriceState",{id:currentUserSubmitPriceId,state:"price_fail",shopPrice:shopPrice}).done(function(result){
                if(result.changeResult == true){
                    window.location.reload();
                }
            });
        }

        function createCarOrder(id,userSubmitPriceId){
            window.location.href  = "./userorder?type=init-userprice&id=" + id + "&userSubmitPriceId=" + userSubmitPriceId;
        }

        var currentOffTicketId;
        function openSubmitBillSnModal(id){
            currentOffTicketId = id;
            $("#submitBillSnModal").modal("show");
        }

        function submitBillSn(){
            var id = currentOffTicketId;
            var billSn = $("#submitBillSnModal #billSn").val();
            $.post("./changeUserOffTicketState",{id:id,state:"waiting_confirm",billSn:billSn}).done(function(result){
                if(result.changeResult == true){
                    window.location.reload();
                }
            });

        }