//
    Created with JetBrains WebStorm.
    User: ruihuang
    Date: 13-8-16
    Time: 下午3:12
extends layout/mainFrame

block append css
  link(href='css/car_order.css', rel='stylesheet', media='screen')

block append content
 .container(style='padding: 10px 0;')
    .row-Fluid
        .span8.offset2
            img(src='img/submitInfo.png', alt='submitInfo',style="margin-top:10px")
            .text-center
            legend 商品信息
            dl.dl-horizontal(style='font-size: 14px;')
                dt 车型
                dd #{shopStockView.carBrandCname} #{shopStockView.carModelLv2FullName}
                dt 品种
                dd #{shopStockView.carModelLv3FullName}
                dt 配置描述
                dd &nbsp;
                dt 外观颜色
                dd #{shopStockView.carOutsideColorName}
                dt 内饰颜色
                dd #{shopStockView.carInsideColorName}
                dt 库存数量
                dd #{shopStockView.carOnOrderNum + shopStockView.carOnHandNum}
                dt 备注
                dd &nbsp;
            form.form-horizontal
                legend 订购人信息
                .control-group
                    label.control-label(for='name') 订购人姓名
                    .controls
                        input#name(type='text', placeholder='姓名' ,value="#{session.currentUser.userName}")
                .control-group
                    label.control-label(for='tel') 订购人手机
                    .controls
                        input#tel(type='text', placeholder='手机号码',value="#{session.currentUser.userTel}")
                .control-group
                    label.control-label(for='mail') 订购人电子邮件
                    .controls
                        input#mail(type='text', placeholder='电子邮件',value="#{session.currentUser.userEmail}")
                legend 支付方式
                label.radio
                    input(type='radio', name='optionsRadios', value='option1', checked='checked')
                    | 不支付定金，仅预约
                label.radio
                    input(type='radio',disabled='disabled', name='optionsRadios', value='')
                    | 支付定金，进行留车预定（使用支付宝支付）(暂未开放)
                legend 备注
                ul
                    li 订单有效期为3天
                    li 费用交付xxxx公司,网站未收取任何费用
            form(action="./userorder",method="GET")
                input(name="id",type="hidden",value="#{shopStockView.id}")
                input(name="type",type="hidden",value="create")
                input.btn.span2.pull-right(type='button', onclick='window.history.go(-1)', value='取消')
                input.btn.btn-primary.span2.pull-right(type='submit', value='确认')