//
    Created with JetBrains WebStorm.
    User: ruihuang
    Date: 13-8-18
    Time: 下午1:56
extends layout/mainFrame

block append css
  link(href='css/user_submit_price.css', rel='stylesheet', media='screen')

block append content
    .container(style='padding: 10px 0;')
        .row-Fluid
            .span8.offset2
                img(src='img/submitMyPriceStep3.png', alt='submitMyPriceStep3',style="margin:20px 0,;margin-bottom: 20px;")
                legend
                  h4 商品信息
                dl.dl-horizontal(style='font-size: 12pt;')
                    dt 车型
                    dd #{shopStockView.carBrandCname} #{shopStockView.carModelLv2FullName}
                    dt 品种
                    dd #{shopStockView.carModelLv3FullName}
                    dt 配置描述
                    dd &nbsp;
                    dt 外观颜色
                    dd #{shopStockView.carOutsideColorName}
                    dt 内饰颜色
                    dd dd #{shopStockView.carInsideColorName}
                    dt 库存数量
                    dd #{shopStockView.carOnOrderNum + shopStockView.carOnHandNum}
                    dt 备注
                    dd &nbsp;
                form#submitPriceform.form-horizontal(method="POST",action="./usersubmitprice?type=create")
                    legend
                      h4 提交我的价位
                    .control-group
                        label.control-label(for='factoryPrice') 市场价（元）
                        .controls
                            h4#factoryPrice #{shopStockView.factoryPrice}万
                    .control-group
                        label.control-label(for='carPrice') teecar价（元）
                        .controls
                            h4#carPrice #{shopStockView.carPrice}万
                    .control-group
                        label.control-label(for='price') 我的价格（元）
                        .controls
                            .input-append
                                input#price.span2(name="userPrice",type='text', placeholder='价格(万)',value="#{shopStockView.carPrice}")
                                span#offRate.add-on 100%
                    input(name="id",type="hidden",value="#{shopStockView.id}")
                    input.btn.span2.pull-right(type='button', onclick='window.history.go(-1)', value='取消' style="margin-top:0px")
                    input.btn.btn-primary.span2.pull-right#submitBtn(value='确认')
    script.
        var carPrice = #{shopStockView.carPrice};
        $("#price").keyup(function(){
            var value = $("#price").val();
            var re = /^\d{1,8}(\.\d{1,2})?$/;
            if(re.test(value)){
                var rate = parseFloat(value) / carPrice * 100;
                var rateString = rate + " ";
                //取小数后2位
                var dotIndex = rateString.indexOf(".");
                if(dotIndex != -1){//-1 说明正好是倍数，直接补0
                    rateString = rateString.substring(0,dotIndex + 3);
                }
                $("#offRate").html(rateString + "%");
                $("#submitBtn").removeClass("disabled");
            }
            else{
                $("#submitBtn").addClass("disabled");
            }
        });
        $("#submitBtn").click(function(){
            if(!$("#submitBtn").hasClass("disabled")){
                $("#submitPriceform").submit();
            }
        });

