doctype html
html
  head
    title 梯卡汽车网 转发赢三星平板电脑
    meta(charset='utf-8')
    meta(name="viewport" content="width=640")
    link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel="icon",type="image/png",href="img/favicon.png")
    script(src='js/jquery-1.10.2.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/spin.min.js')
    script(src='js/tools.js')
    script(src='js/jquery.unveil.min.js')
    style.
        a:link {color: black; text-decoration:none;} //未访问：蓝色、无下划线
        a:active:{color: black; } //激活：红色
        a:visited {color:purple;text-decoration:none;} //已访问：purple、无下划线
        a:hover {color: black; text-decoration:underline;} //鼠标移近：红色、下划线
  body(style="background-color:#f1f1f1;padding:20px;")
    div
      p(style="font-size:26px;color:#666666")
        | 您的朋友
        stong(style="font-size:30px;color:#ff0101")= weixinInfo.userName
        | 邀请您帮他转发
    div(style="border:1px solid #cccccc;border-radius:10px;background-color:#ffffff;padding:30px")
      p(style="font-size:40px;color:#ff0000;line-height:60px;") 梯卡汽车网邀您参加转发赢三星平板电脑
      div(style="height:30px;") &nbsp;
      img(src="img/phone1.png")
      div(style="height:10px;") &nbsp;
      img(src="img/oilcard.jpg")
      div(style="background-color:#f1f1f1;padding:20px;margin-top:30px;border:2px solid #ff0000;")
        p(style="font-size:26px;color:#ff0000;line-height:50px;")
          | #{weixinInfo.userName}：已被转发：
          stong(style="font-size:34px")= weixinInfo.forwardCount
          | 次，目前排在
          stong(style="font-size:34px")= weixinInfo.rank
          | 名
        //p(style="font-size:26px;color:#eb6100;line-height:100px;") 离结束还有：
        //p(style="font-size:32px;color:#ff0000;line-height:100px;text-align:center;") 13天1小时14分43秒
      div(style="margin-top:50px;")
        p(style="font-size:34px;color:#666666") 活动描述
        div(style="margin-top:30px;margin-bottom:30px;")
          img(src="img/haibao1.png")
          p(style="font-size:26px;color:#eb6100;line-height:50px;") 梯卡汽车网30秒搞定爱车，省去你砍价的环节
          div(style="height:30px;") &nbsp;

        p(style="font-size:34px;color:#333333;line-height:50px;") 奖品设置：
        p(style="font-size:34px;color:#666666;line-height:50px;")
          | 第一名
          stong(style="color:#ff0000;font-size:26px;") 一等奖一名---三星平板电脑
        p(style="font-size:34px;color:#666666;line-height:50px;")
          | 第二名
          stong(style="color:#d35400;font-size:26px;") 二等奖一名---大众jetta免费租赁一周（包含500元油卡）
        p(style="font-size:34px;color:#666666;line-height:50px;")
          | 第二名
          stong(style="color:#d35400;font-size:26px;") 三等奖一名---大众原装脚垫一副
        p(style="font-size:34px;color:#333333;line-height:50px;")
          | 开奖时间:
          stong(style="color:#f39c12;font-size:26px;") 2014年7月10日20：00开奖
        p(style="font-size:34px;color:#333333;line-height:50px;")
          | 开奖地点:
          stong(style="color:#f1c40f;font-size:26px;") 宁波
        p(style="font-size:34px;color:#333333;line-height:50px;")
          | 开奖方式:
          stong(style="color:#f1c40f;font-size:26px;") 截止7月10日20：00公布获奖名单,随后一星期内完成奖品的分发，到时欢迎大家前来参观监督。


        p(style="font-size:34px;color:#333333;line-height:50px;") 活动说明：
        p(style="font-size:26px;line-height:40px;") 一、如何参与本活动
          br
          | 1.已关注“梯卡汽车网”公众号的用户直接点击“TEECAR"中的“转发赢pad活动“，转发赢取大奖。
          br
          | 2.若您在转发的时候没有登录，系统则会自动提示您进行登录或者注册，登录成功后，再按照第一步流程操作即可参与活动。
          br
          | 3.在朋友圈转发本条消息，邀请更多的朋友帮您转发。
          br
          strong(style="color:#ff0000;")
            | 二、转发计数的统计方法为：
            br
            | 1.转发必须关注梯卡汽车网官方公众号，从梯卡汽车网公众号开始发起有奖转发。在公众账号对话框输入：“转发”
            br
            | 2.由你发起的转发，如果你的朋友转发了，甚至你的朋友的朋友。。。，都算你的转发记录。
          br
          | 三、本活动为后台系统自动统计生成，公平公正，真实有效。
          br
          | 四、详情请致电：400-007-9902.
    a(href="/weixinRank")
      div(style="border:1px solid #cccccc;border-radius:10px;background-color:#ffffff;padding:10px;margin-top:5px;color:black;font-size:40px;height:60px;")
        div(style="margin-top:20px;")
          div.pull-left
              | 转发排行榜
          div.pull-right
                span.icon-chevron-right
          div.pull-right(style="margin-top: -10px;")
            span(style="margin-right:15px;").badge.badge-success top10


    script.
        // 分享
        function shareFriend() {
            WeixinJSBridge.invoke('sendAppMessage',{
                //"appid":window.shareData.appid,
                "img_url":"http://www.teecar.com.cn:8001/img/phone1.png",
                "img_width":"640",
                "img_height":"640",
                "link":window.location.href,
                "desc":'转发前10名赢取大奖',
                "title":'梯卡汽车网 转发赢三星平板电脑',
                }, function(res) {
                    $.get("./weixinAdver/updateForwardCont?openId=#{weixinInfo.openId}",function(){
                        _report('send_msg', res.err_msg);
                    }
                );
            })
        }
        function shareTimeline() {
            WeixinJSBridge.invoke('shareTimeline',{
                "img_url":"http://www.teecar.com.cn:8001/img/phone1.png",
                "img_width":"640",
                "img_height":"640",
                "link":window.location.href,
                "desc": '转发前10名赢取大奖',
                "title": '梯卡汽车网 转发赢三星平板电脑',
                }, function(res) {
                    $.get("./weixinAdver/updateForwardCont?openId=#{weixinInfo.openId}",function(){
                        _report('timeline', res.err_msg);
                    }
                );
            });
        }
        function shareWeibo() {
            WeixinJSBridge.invoke('shareWeibo',{
                "content":window.shareData.wContent,
                "url":window.shareData.wLink,
                }, function(res) {
                    $.get("./weixinAdver/updateForwardCont?openId=#{weixinInfo.openId}",function(){
                        _report('weibo', res.err_msg);
                    });
                }
            );
        }
        // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
        document.addEventListener(
            'WeixinJSBridgeReady',
            function onBridgeReady() {
                // 发送给好友
                WeixinJSBridge.on('menu:share:appmessage', function(argv){
                    shareFriend();
                });
                // 分享到朋友圈
                WeixinJSBridge.on('menu:share:timeline', function(argv){
                    shareTimeline();
                });
                // 分享到微博
                WeixinJSBridge.on('menu:share:weibo', function(argv){
                    shareWeibo();
                });
            },
            false
        );





