doctype html
html
    head
        title 梯卡汽车网
        meta(charset='utf-8')
        meta(id="viewport",name="viewport",content="100%")
        block css
        block js
    body
        div(style="background-color:#102742;width:100%;height:76px;margin-left:0px;text-align:center;padding-top:38px")
            label(style="color:white;width:100%;height:116px;margin-top:38px;font-size:36px;") 车型预览
        div(style="margin-left:24px;margin-right:24px;width:atuo;background-color:#fcfcfb;")
            div(style="margin-top:0px;background-color:#fcfcfb;")
                    div(style="width:100%;margin-top:24px;")
                        a(href="./car?id=#{priceOffCarModelLv1[1].id}",style="padding:0px;background-color:white;border-radius:0px")
                            img(style='width: 48%; height: auto;margin-right: 12px; margin-left: 0px', src='img/price0002.jpg')
                        a(href="./car?id=#{priceOffCarModelLv1[2].id}",style="padding:0px;background-color:#ffffff;border-radius:0px")
                            img(style='width: 48%; height: auto;margin-right: 0px; margin-left: 12px;', src='img/price0003.jpg')
                    div(style="width:100%;margin-top:24px;")
                        a(href="./car?id=#{priceOffCarModelLv1[0].id}",style="padding:0px;background-color:#ffffff;border-radius:0px")
                            img(style='width: 98.6%; height: auto;margin-right: 0; margin-left: 0px;', src='img/price0001.jpg')
                    div(style="margin-top:24px;width:100%")
                        a(href="./car?id=#{priceOffCarModelLv1[4].id}",style="padding:0px;background-color:#ffffff;border-radius:0px")
                            img(style='width: 48%; height: auto;margin-right: 12px; margin-left: 0px;margin-top:24px;', src='img/price0005.jpg')
                        a(href="./car?id=#{priceOffCarModelLv1[3].id}",style="padding:0px;background-color:#ffffff;border-radius:0px")
                            img(style='width: 48%; height: auto;margin-right: 0px; margin-left: 12px;', src='img/price0004.jpg')
