.span9
    div(style="height:auto;width:1410px")
        div(style="height:44px;background:#f6f6f6;color:#666666;font-size:16px;")
            div(style="padding-top:8px;padding-bottom:8px;padding-left:20px") <font size="4px" color="#666666" style="display:inline-block;padding-top:8px;">您已选择</font>
                span()
                    each dicCity in allDicCitys
                        //a(href="/car?id=#{dicCity.id}&city=#{conditionParams.city}",onClick="return conditionSelect('city','#{dicCity.id}',false,true);",style="color: black;")
                        if dicCity.id == conditionParams.city
                            span#city(style="margin-left:30px;background-image:url('img/choice.png');color:#ffffff;display: inline-block;width:160px;height:30px;")
                                div#showlistC(style="text-align:center;padding-top:7px;") 城市: #{dicCity.cityCname} &nbsp;&nbsp;
                                    img(src="img/cha.png",onclick="deleteCity()")
                //span
                //    if conditionParams.carBrand == 26
                //        span#brandOne(style="margin-left:30px;background-image:url('img/choice.png');color:#ffffff") 品牌:  大众
                //            img(src="img/cha.png",onclick="deleteDaZong()")
                //    if conditionParams.carBrand == 39
                //        span#brandTwo(style="margin-left:30px;background-image:url('img/choice.png');color:#ffffff") 品牌:  长安福特
                //            img(src="img/cha.png",onclick="deleteChangAn()")
                //    if conditionParams.carBrand == 42
                //        span#brandThree(style="margin-left:30px;background-image:url('img/choice.png');color:#ffffff") 品牌:  奥迪
                //            img(src="img/cha.png",onclick="deleteAoDi()")
                //    if conditionParams.carBrand == 43
                //        span#brandFour(style="margin-left:30px;background-image:url('img/choice.png');color:#ffffff") 品牌:  北京现代
                //            img(src="img/cha.png",onclick="deleteBeiJing()")
                //    if conditionParams.carBrand == 44
                //        span#brandFive(style="margin-left:30px;background-image:url('img/choice.png');color:#ffffff") 品牌;  东风本田
                //            img(src="img/cha.png",onclick="deleteDongFeng()")
                //    if conditionParams.carBrand == 70
                //        span#brandSix(style="margin-left:30px;background-image:url('img/choice.png');color:#ffffff") 品牌:  现代
                //            img(src="img/cha.png",onclick="deleteXianDai()")

                span
                    each brand in allBrands
                        if brand.brandId == conditionParams.carMyCarBrand
                            span#brand(style="margin-left:30px;background:url('img/choice.png');color:#ffffff;display: inline-block;width:160px;height:30px;")
                                div#showlistC(style="text-align:center;padding-top:7px;") 品牌: #{brand.brandName} &nbsp;&nbsp;
                                    img(src="img/cha.png",onclick="deleteBrand()")

                span
                    each carModelLv1 in carModels
                        a(href="#",onClick="return conditionSelect('carModel','#{carModelLv1.id}',false,false);",style="color: #666666;")
                            if carModelLv1.id == conditionParams.carModelLv1
                                span#cheXi(style="margin-left:30px;background-image:url('img/choice.png');color:#ffffff;display: inline-block;width:160px;height:30px;")
                                    div#showlistC(style="text-align:center;padding-top:7px;")= carModelLv1.cname
                                        &nbsp;&nbsp;
                                        img(src="img/cha.png",onclick="deleteCheXi()")
                span
                    if conditionParams.priceMin == 1
                        span#priceOne(style="margin-left:30px;background-image:url('img/choice.png');color:#ffffff;display: inline-block;width:160px;height:30px;")
                            div#showlistC(style="text-align:center;padding-top:7px;") 价格:  1万~5万 &nbsp;&nbsp;
                            img(src="img/cha.png",onclick="deletePriceOne()")
                    if conditionParams.priceMin == 5
                        span#priceTwo(style="margin-left:30px;background-image:url('img/choice.png');color:#ffffff;display: inline-block;width:160px;height:30px;")
                            div#showlistC(style="text-align:center;padding-top:7px;") 价格:  5万~10万 &nbsp;&nbsp;
                                img(src="img/cha.png",onclick="deletePriceTwo()")
                    if conditionParams.priceMin == 10
                        span#priceThree(style="margin-left:30px;background-image:url('img/choice.png');color:#ffffff;display: inline-block;width:160px;height:30px;")
                            div#showlistC(style="text-align:center;padding-top:7px;") 价格:  10万~20万 &nbsp;&nbsp;
                                img(src="img/cha.png",onclick="deletePriceThree()")
                    if conditionParams.priceMin == 20
                        span#priceFour(style="margin-left:30px;background-image:url('img/choice.png');color:#ffffff;display: inline-block;width:160px;height:30px;")
                            div#showlistC(style="text-align:center;padding-top:7px;") 价格:  20万~50万 &nbsp;&nbsp;
                                img(src="img/cha.png",onclick="deletePriceFour()")
                    if conditionParams.priceMin == 50
                        span#priceFive(style="margin-left:30px;background-image:url('img/choice.png');color:#ffffff;display: inline-block;width:160px;height:30px;")
                            div#showlistC(style="text-align:center;padding-top:7px;") 价格:  50万以上 &nbsp;&nbsp;
                                img(src="img/cha.png",onclick="deletePriceFive()")
        div(style="height:36px;color:#666666;")
            div(style="padding-top:10px;padding-left:20px") 城市
                if !shide || shide.indexOf("city") == -1
                    a(href="#",onClick="return conditionSelect('city','',true,true);return false;",style="color: #666666;padding-left: 60px;") 不限
                    each dicCity in allDicCitys
                        a(href="#",onClick="return conditionSelect('city','#{dicCity.id}',true,true);",style="color: #666666;padding-left: 60px;")
                            if !!conditionParams  && dicCity.id == conditionParams.city
                                span(style="color: orange;")= dicCity.cityCname
                            else
                                | #{dicCity.cityCname}
        div(style="background:#f6f6f6;color:#666666;height:72px;")
            div
                div(style="padding-top:25px;padding-left:20px") 品牌
                div(style="margin-left:108px;margin-top:-43px;height:36px;line-height:35px;text-align:left")
                    if !shide || shide.indexOf("brand") == -1
                        a(href="#",onClick="conditionSelect('carModel','',false);conditionSelect('carBrand','',true);return false;",style="color:#666666;") 不限
                        each brand in allBrands
                            a(href="#",onClick="conditionSelect('carModel','',false);conditionSelect('carBrand','#{brand.brandId}',true,true);return false;",style="color: #666666;padding-left: 60px;")
                                if !!conditionParams  &&  brand.brandId == conditionParams.carMyCarBrand
                                    span(style="color: orange;")= brand.brandName
                                else
                                    | #{brand.brandName}
        table(style="color:#666666;vertical-align:middle;")
            td(style="padding-top:10px;padding-left:20px;vertical-align : middle;width:36px") 车系
            td(style="margin-left:40px;height:auto !important;height:0px;min-height:36px;margin-top:-20px;line-height:35px;padding-left:60px")
                each carModelLv1 in carModels
                    a(href="#",onClick="return conditionSelect('carModel','#{carModelLv1.id}',true,false);",style="color: #666666;") <span style="padding-left:60px">     </span>
                        if carModelLv1.id == conditionParams.carModelLv1
                            span(style="color: orange;")= carModelLv1.cname
                        else
                            | #{carModelLv1.cname}
        div(style="height:36px;background:#f6f6f6;color:#666666;")
            div(style="padding-top:10px;padding-left:20px") 价格
                a(href="#",onClick="conditionSelect('priceMin','',false);conditionSelect('priceMax','',true,true);return false;",style="color: #666666;padding-left: 60px;") 不限
                a(href="#",onClick="conditionSelect('priceMin','1',false);conditionSelect('priceMax','5',true,true);return false;",style="color: #666666;padding-left: 60px;")
                    if conditionParams.priceMax == 5
                        span(style="color: orange;") 1万 ~ 5万
                    else
                        | 1万 ~ 5万
                a(href="#",onClick="conditionSelect('priceMin','5',false);conditionSelect('priceMax','10',true,true);return false;",style="color: #666666;padding-left: 60px;")
                    if conditionParams.priceMax == 10
                        span(style="color: orange;") 5万 ~ 10万
                    else
                        | 5万 ~ 10万
                a(href="#",onClick="conditionSelect('priceMin','10',false);conditionSelect('priceMax','20',true,true);return false;",style="color: #666666;padding-left: 60px;")
                    if conditionParams.priceMax == 20
                        span(style="color: orange;") 10万 ~ 20万
                    else
                        | 10万 ~ 20万
                a(href="#",onClick="conditionSelect('priceMin','20',false);conditionSelect('priceMax','50',true,true);return false;",style="color: #666666;padding-left: 60px;")
                    if conditionParams.priceMax == 50
                        span(style="color: orange;") 20万 ~ 50万
                    else
                        | 20万 ~ 50万
                a(href="#",onClick="conditionSelect('priceMin','50',false);conditionSelect('priceMax','',true,true);return false;",style="color: #666666;padding-left: 60px;")
                    if conditionParams.priceMin == 50
                        span(style="color: orange;") 50万以上
                    else
                        | 50万以上
//.span3
//  .pagination.pagination-small.pagination-right(style='float:right;width:180px;margin: 10px 10px 0 0;')
//     span(style='float:left;height: 25px;padding-top:0px;') #{carModelViews.currentPage} / #{carModelViews.pageCount}
//     ul
//       if carModelViews.firstPage
//         li.disabled
//           a(href='#',onclick="return false;") 前一页
//       -else
//         li
//           a(href='#',onclick="return conditionSelect('pageIndex','#{carModelViews.currentPage - 1}',true)") 前一页
//       if carModelViews.lastPage
//         li.disabled
//           a(href='#',onclick="return false;") 后一页
//       -else
//         li
//           a(href='#',onclick="return conditionSelect('pageIndex','#{carModelViews.currentPage + 1}',true)") 后一页

.span12(style="width:1610px;margin-left:-10px;margin-top:0px")
    ul(class='thumbnails')
    each carModelView, i in carModelViews.items
        li.span3(style="width:260px;height:212px;margin-right: 13px;margin-left: 12px;margin-top:30px")
            a(href='./car?id=#{carModelView.carModelLv1}&city=#{conditionParams.city}&shop=#{conditionParams.shop}', style='padding: 0px;text-decoration:none;')
                div(name='hoverdiv', style='height: 212px; width: 260px;')
                    div(name='imgdiv', style="width: 260px;height:212px ;margin:4px 0 0 4px; ")
                        div(style="font-size:10px;color:#ffffff") <div style="position:absolute;margin-top:0px;margin-left:20px;width:50px;height:46px;background-image:url('img/jiangjia.png')">&nbsp;&nbsp;&nbsp;&nbsp;直降<br>&nbsp;&nbsp;#{(carModelView.factoryPriceMax-carModelView.shopPriceMin).toFixed(2)}万</div>
                            img(style='width: 260px; height: 170px;padding: 0px 0px 0px;', src='img/car/#{carModelView.carModelLv1}.png')
                            .caption(name="imgdiv_h4",style="height: 40px; padding-top: 2px;background-color:#112742;")
                                h6.pull-left(style="font-size:26px;color:white;margin-left:5px;margin-top:10px;font-weight:lighter") ￥#{carModelView.shopPriceMin}<font size="4px">万</font>
                                h4.pull-right(style="font-size:18px;color:#3b7db8;font-weight:lighter;margin-top:10px;margin-left:-5px")  <s>市场价:#{carModelView.factoryPriceMax}万</s>
                    div(name='coverdiv', style='position: absolute; display: none;margin-top:-50px;')
                        .caption(style='padding:0px 0px 0px 0px;border-radius: 0px 0px 4px 4px;margin-top:-30px;margin-left:140px;font-weight:lighter')
                            h4(style='color: black;font-size:26px;margin-top:30px') ￥#{carModelView.shopPriceMin} <font size="3px">万</font>
                        div(style="margin-top:-24px")
                            strong(style='color: black;font-size:14px;margin-left:10px') #{carModelView.brandCname} #{carModelView.cname}
                            h6(style='color: black;font-size:10px;margin-left:10px') #{carModelView.carModelLv2ShortNames}

form(action="/",method="get",id="conditionform")
    input(type="hidden",name="pageIndex",id="form_pageIndex",value="#{conditionParams.pageIndex}")
    input(type="hidden",name="carBrand",id="form_carBrand",value="#{conditionParams.carMyCarBrand}")
    input(type="hidden",name="carModelLv1",id="form_carModel",value="#{conditionParams.carModelLv1}")
    input(type="hidden",name="priceMin",id="form_priceMin",value="#{conditionParams.priceMin}")
    input(type="hidden",name="priceMax",id="form_priceMax",value="#{conditionParams.priceMax}")
    input(type="hidden",name="city",id="form_city",value="#{conditionParams.city}")
    input(type="hidden",name="shop",id="form_shop",value="#{conditionParams.shop}")
    input(type="hidden",name="orderByName",id="form_orderByName",value="#{conditionParams.orderByName}")
    input(type="hidden",name="orderType",id="form_orderType",value="#{conditionParams.orderType}")
    input(type="hidden",name="shide",value="#{shide}")

div.modal.hide.fade#favoriteAddSuc(style="tabindex='-1',role='dialog'")
    div.modal-body
        p 恭喜，收藏成功！
        p 您可以进入
            a(href="./userhome") 我的收藏
            | 页面查看所有收藏
    div.modal-footer
        button.btn.btn-primary(onClick="$('#favoriteAddSuc').modal('hide');return false;") 确认
div.modal.hide.fade#favoriteDelSuc(style="tabindex='-1',role='dialog'")
    div.modal-body
        p 删除收藏成功
    div.modal-footer
        button.btn.btn-primary(onClick="$('#favoriteDelSuc').modal('hide');return false;") 确认
div.modal.hide.fade#favoriteLoginError(style="tabindex='-1',role='dialog'")
    div.modal-body
        p 请先登陆
    div.modal-footer
        button.btn.btn-primary(onClick="$('#favoriteLoginError').modal('hide');return false;") 确认

script.
    //收藏
    function favorite(carModelLv1,action){
        $.post("./user?type=favorite", {carModelLv1:carModelLv1,action:action}).done(
            function(data) {
                if(data.processResult == true){
                    if(action == "add"){
                        $('#favoriteAddSuc').modal('show');
                    }
                    else if(action == "del"){
                        $('#favoriteDelSuc').modal('show');
                    }
                }
                //如果没登陆
                if(data.processResult == false && data.error == "needLogin"){
                    $("#favoriteLoginError").modal("show");
                }

            }
        );
    }

    $('#favoriteAddSuc').on('hidden', function() {
        refreshPage();
    });
    $('#favoriteDelSuc').on('hidden', function() {
        refreshPage();
    });
    $('#favoriteLoginError').on('hidden',function(){
        $("#loginModal").modal("show");
    });

    // 提交筛选事件
    function conditionSelect(type,value,needSubmit,needInitPage){
      $("#form_" + type).val(value);
      
      if(needInitPage){
        $("#form_pageIndex").val('');
      }

      if(needSubmit == true){
        //等待
        $("#carModelView").load('/spin.html');
        //刷新
        refreshPage();
      }
      return false;
    }

    function refreshPage(){
        $("#carModelView").load("./cardata?type=getCarModelPagination",$("#conditionform").serialize());
    }
    
    //排序事件
    var currentPrice = '';
    function orderSelect(type,id){
        //三种情况：无排序,正序，倒序,其中销量只有无排序和正序
        if(type == 'sellNum'){
            if($("#orderByName").val() == 'sellNum'){
                //do nothing
            }
            else{
                conditionSelect('orderByName','sellNum',false,false);
                conditionSelect('orderType','asc',true,true);
            }
        }
        else if(type == 'price'){
            var ordertype;
            if($("#form_orderByName").val() == 'price'){
                if($("#form_orderType").val() == 'asc'){
                    ordertype = "desc";
                }
                else{
                    ordertype = "asc";
                }
            }
            else{
                ordertype = "asc";
            }
            conditionSelect('orderByName','price',false,false);
            conditionSelect('orderType',ordertype,true,true);
        }
        return false;
    }

    $("div[name='hoverdiv']").each(function(index,value){
        $(value).hover(function(){
            $(this).find("div[name='imgdiv']").css("margin","0px");
      //      $(this).find("div[name='imgdiv']").css("padding","0px");
            $(this).find("div[name='imgdiv']").css("border","solid 4px #2588ce");
            $(this).find("div[name='coverdiv']").fadeToggle();
            $(this).find("div[name='imgdiv_h4']").fadeToggle();
        },function(){
            $(this).find("div[name='imgdiv']").css("margin","3px 0 0 3px");
       //     $(this).find("div[name='imgdiv']").css("padding","3px");
            $(this).find("div[name='imgdiv']").css("border","solid 1px #f6f6f6");
            $(this).find("div[name='coverdiv']").fadeToggle();
            $(this).find("div[name='imgdiv_h4']").fadeToggle();
       });
    });

    function deleteCity(){
      $("#city").empty();
      return conditionSelect('city','',true,true);return false;
    }
    function deleteBrand(){
         $("#brand").empty();
         conditionSelect('carModel','',false);conditionSelect('carBrand','',true);return false;
    }
    //        function deleteDaZong(){
    //          $("#brandOne").empty();
    //          conditionSelect('carModel','',false);conditionSelect('carBrand','',true);return false;
    //        }
    //        function deleteChangAn(){
    //          $("#brandTwo").empty();
    //          conditionSelect('carModel','',false);conditionSelect('carBrand','',true);return false;
    //        }
    //        function deleteAoDi(){
    //          $("#brandThree").empty();
    //          conditionSelect('carModel','',false);conditionSelect('carBrand','',true);return false;
    //        }
    //        function deleteBeiJing(){
    //          $("#brandFour").empty();
    //          conditionSelect('carModel','',false);conditionSelect('carBrand','',true);return false;
    //        }
    //        function deleteDongFeng(){
    //          $("#brandFive").empty();
    //          conditionSelect('carModel','',false);conditionSelect('carBrand','',true);return false;
    //        }
    //        function deleteXianDai(){
    //          $("#brandSix").empty();
    //          conditionSelect('carModel','',false);conditionSelect('carBrand','',true);return false;
    //        }
    function deleteCheXi(){
      $("#cheXi").empty();
      return conditionSelect('carModel','',true,true);return false;
    }
    function deletePriceOne(){
      $("#priceOne").empty();
      conditionSelect('priceMin','',false);conditionSelect('priceMax','',true,true);return false;
    }
    function deletePriceTwo(){
      $("#priceTwo").empty();
      conditionSelect('priceMin','',false);conditionSelect('priceMax','',true,true);return false;
    }
    function deletePriceThree(){
      $("#priceThree").empty();
      conditionSelect('priceMin','',false);conditionSelect('priceMax','',true,true);return false;
    }
    function deletePriceFour(){
      $("#priceFour").empty();
      conditionSelect('priceMin','',false);conditionSelect('priceMax','',true,true);return false;
    }
    function deletePriceFive(){
      $("#priceFive").empty();
      conditionSelect('priceMin','',false);conditionSelect('priceMax','',true,true);return false;
    }