.span9
  .nav.btngroupLite#carFilter(style="float:left;margin: 10px 20px 0 0px;padding-left:12px;")
    li
      a#orderSellNumBtn(style="background:#eeeeee")筛选
    if !shide || shide.indexOf("city") == -1
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown",href="#") 城市
            span.caret
          ul.dropdown-menu
            li
               a(href="#",onClick="return conditionSelect('city','',true,true);return false;",style="color: #FFFFFF;padding-left: 7px;") 不限
            each dicCity in allDicCitys
               li
                 a(href="#",onClick="return conditionSelect('city','#{dicCity.id}',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                     if !!conditionParams  && dicCity.id == conditionParams.city
                         span(style="color: rgb(170, 61, 70);")= dicCity.cityCname
                     else
                         | #{dicCity.cityCname}
    if !shide || shide.indexOf("brand") == -1
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown",href="#") 品牌
            span.caret
          ul.dropdown-menu
              li
                a(href="#",,onClick="conditionSelect('carModel','',false);conditionSelect('carBrand','',true);return false;",style="color: #FFFFFF;padding-left: 7px;") 不限
              each brand in allBrands
                li.dropdown-submenu
                  a(href="#",onClick="conditionSelect('carModel','',false);conditionSelect('carBrand','#{brand.brandId}',true,true);return false;",style="color: #FFFFFF;padding-left: 7px;")
                    if !!conditionParams  &&  brand.brandId == conditionParams.carBrand
                      span(style="color: rgb(170, 61, 70);")= brand.brandName
                    else
                      | #{brand.brandName}
                  ul.dropdown-menu
                    li
                      a(href="#",onClick="return conditionSelect('carModel','',true,true);return false;",style="color: #FFFFFF;padding-left: 7px;") 不限
                    each carModelLv1 in brand.carModelLv1List
                      li
                        a(href="#",onClick="return conditionSelect('carModel','#{carModelLv1.id}',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                           if carModelLv1.id == conditionParams.carModelLv1
                               span(style="color: rgb(170, 61, 70);")= carModelLv1.cname
                           else
                               | #{carModelLv1.cname}
    li.dropdown
      a.dropdown-toggle(data-toggle="dropdown",href="#") 价格
        span.caret
      ul.dropdown-menu
        li
          a(href="#",onClick="conditionSelect('priceMin','',false);conditionSelect('priceMax','',true,true);return false;",style="color: #FFFFFF;padding-left: 7px;") 不限
        li
          a(href="#",onClick="conditionSelect('priceMin','1',false);conditionSelect('priceMax','5',true,true);return false;",style="color: #FFFFFF;padding-left: 7px;")
              if conditionParams.priceMax == 5
                 h4(style="color: rgb(170, 61, 70);") 1万 ~ 5万
              else
                 | 1万 ~ 5万
        li
          a(href="#",onClick="conditionSelect('priceMin','5',false);conditionSelect('priceMax','10',true,true);return false;",style="color: #FFFFFF;padding-left: 7px;")
              if conditionParams.priceMax == 10
                  h4(style="color: rgb(170, 61, 70);") 5万 ~ 10万
              else
                  | 5万 ~ 10万
        li
          a(href="#",onClick="conditionSelect('priceMin','10',false);conditionSelect('priceMax','20',true,true);return false;",style="color: #FFFFFF;padding-left: 7px;")
              if conditionParams.priceMax == 20
                  h4(style="color: rgb(170, 61, 70);") 10万 ~ 20万
              else
                  | 10万 ~ 20万
        li
          a(href="#",onClick="conditionSelect('priceMin','20',false);conditionSelect('priceMax','50',true,true);return false;",style="color: #FFFFFF;padding-left: 7px;")
              if conditionParams.priceMax == 50
                  h4(style="color: rgb(170, 61, 70);") 20万 ~ 50万
              else
                  | 20万 ~ 50万
        li
          a(href="#",onClick="conditionSelect('priceMin','50',false);conditionSelect('priceMax','',true,true);return false;",style="color: #FFFFFF;padding-left: 7px;")
              if conditionParams.priceMin == 50
                  h4(style="color: rgb(170, 61, 70);") 50万以上
              else
                  | 50万以上
  .pagination.pagination-small.pagination-left(style='float:left;margin: 10px 20px 0 0px;')
       ul
         li
           a#orderSellNumBtn(style="background:#eeeeee") 排序
         li
           if(conditionParams.orderByName == 'sellNum')
             a#orderSellNumBtn(href="#",onclick="return orderSelect('sellNum')") 销量
               img(src="img/arrowdown.png")
           else
             a#orderSellNumBtn(href="#",onclick="return orderSelect('sellNum')") 销量
         li
           if(conditionParams.orderByName == 'price' && conditionParams.orderType == 'asc')
             a#orderPriceBtn(href="#",onclick="return orderSelect('price')") 价格
               img(src="img/arrowdown.png")
           else if(conditionParams.orderByName == 'price' && conditionParams.orderType == 'desc')
             a#orderPriceBtn(href="#",onclick="return orderSelect('price')") 价格
               img(src="img/arrowup.png")
           else
             a#orderPriceBtn(href="#",onclick="return orderSelect('price')") 价格
.span3
  .pagination.pagination-small.pagination-right(style='float:right;width:180px;margin: 10px 10px 0 0;')
     span(style='float:left;height: 25px;padding-top:0px;') #{carModelViews.currentPage} / #{carModelViews.pageCount}
     ul
       if carModelViews.firstPage
         li.disabled
           a(href='#',onclick="return false;") 前一页
       -else
         li
           a(href='#',onclick="return conditionSelect('pageIndex','#{carModelViews.currentPage - 1}',true)") 前一页
           
       if carModelViews.lastPage
         li.disabled
           a(href='#',onclick="return false;") 后一页
       -else
         li
           a(href='#',onclick="return conditionSelect('pageIndex','#{carModelViews.currentPage + 1}',true)") 后一页
.span3(style='height: 25px;padding-top:0px;margin-left:20p;color:#888888')
  img(style="padding-bottom:5px",src="../img/loved.png")
  | &nbsp; 点击爱心图标收藏车型
.span4(style='height: 25px;padding-top:0px;margin-left:20px;color:#888888')
  img(style="padding-bottom:5px",src="../img/cheapBand.png")
  | &nbsp; 此图标车型为4S店主推特惠车型
.span4(style='height: 25px;padding-top:0px;margin-left:20px;color:#888888')
  img(style="padding-bottom:5px",src="../img/focusBand.png")
  | &nbsp; 此图标车辆为网友关注热点车型

.span12(style="margin-left: 0px;")
    hr(style='margin: 0px 0px 17px;')
     // 列表
    <ul class='thumbnails'>
    each carModelView, i in carModelViews.items
      li.span3(style="width:210px;margin-right: 13px;margin-left: 12px;")
        a.thumbnail(href='./car?id=#{carModelView.carModelLv1}&city=#{conditionParams.city}&shop=#{conditionParams.shop}', style='padding: 0px;')
          div(name='hoverdiv', style='height: 170px; width: 200px;')
            div(name='imgdiv', style='width: 190px; position: absolute;padding: 10px;')
              img(data-src='holder.js/210x140', alt='210x140', style='width: 190px; height: 140px;padding: 0px 0px 0px;', src='img/car/#{carModelView.carModelLv1}.png')
              .caption(style="height: 20px; padding: 0px;")
                h4.text-center(style="font-size:13px") 市场价:#{carModelView.factoryPriceMin}万 ～ #{carModelView.factoryPriceMax }万
            div(name='coverdiv', style='position: absolute; display: none;')
              div(style='height: 110px; padding: 20px;')
                strong #{carModelView.brandCname} #{carModelView.cname}
                h6 #{carModelView.carModelLv2ShortNames}
              .caption(style='background-image: url(img/hover-price.png);padding:0px 0px 0px 0px; width: 210px; border-radius: 0px 0px 4px 4px;')
                h4.text-center(style='color: #ffffff;font-size:13px;') 网站价:#{carModelView.shopPriceMin}万 ～ #{carModelView.shopPriceMax}万
        h5
          img(src="../img/dasAuto.png",style="margin:0px 3px 3px 0px")
          | #{carModelView.brandCname} #{carModelView.cname}
          if carModelView.favorite == 'yes'
            a(href="#",onclick="favorite('#{carModelView.carModelLv1}','del');return false;")
              img.pull-right(src="../img/loved.png")
          else
            a(href="#",onclick="favorite('#{carModelView.carModelLv1}','add');return false;")
              img.pull-right(src="../img/love.png")
          if carModelView.offprice == 'yes'
            img.pull-right(src="../img/focusBand.png")
          if carModelView.hotmodel == 'yes'
            img.pull-right(src="../img/cheapBand.png")

      if i != 0 && (i+1) % 4 == 0
        </ul><ul class='thumbnails'>
    </ul>
form(action="/",method="get",id="conditionform")
    input(type="hidden",name="pageIndex",id="form_pageIndex",value="#{conditionParams.pageIndex}")
    input(type="hidden",name="carBrand",id="form_carBrand",value="#{conditionParams.carBrand}")
    input(type="hidden",name="carModelLv1",id="form_carModel",value="#{conditionParams.carModelLv1}")
    input(type="hidden",name="priceMin",id="form_priceMin",value="#{conditionParams.priceMin}")
    input(type="hidden",name="priceMax",id="form_priceMax",value="#{conditionParams.priceMax}")
    input(type="hidden",name="city",id="form_city",value="#{conditionParams.city}")
    input(type="hidden",name="shop",id="form_shop",value="#{conditionParams.shop}")
    input(type="hidden",name="orderByName",id="form_orderByName",value="#{conditionParams.orderByName}")
    input(type="hidden",name="orderType",id="form_orderType",value="#{conditionParams.orderType}")
    input(type="hidden",name="shide",value="#{shide}")

div.modal.hide.fade#favoriteAddSuc(style="tabindex='-1',role='dialog'")
    div.modal-body
        p 恭喜，收藏成功！
        p 您可以进入
            a(href="./userhome")我的收藏
            |页面查看所有收藏
    div.modal-footer
        button.btn.btn-primary(onClick="$('#favoriteAddSuc').modal('hide');return false;") 确认
div.modal.hide.fade#favoriteDelSuc(style="tabindex='-1',role='dialog'")
    div.modal-body
        p 删除收藏成功
    div.modal-footer
        button.btn.btn-primary(onClick="$('#favoriteDelSuc').modal('hide');return false;") 确认
div.modal.hide.fade#favoriteLoginError(style="tabindex='-1',role='dialog'")
    div.modal-body
        p 请先登陆
    div.modal-footer
        button.btn.btn-primary(onClick="$('#favoriteLoginError').modal('hide');return false;") 确认

script.
    //收藏
    function favorite(carModelLv1,action){
        $.post("./user?type=favorite", {carModelLv1:carModelLv1,action:action}).done(
            function(data) {
                if(data.processResult == true){
                    if(action == "add"){
                        $('#favoriteAddSuc').modal('show');
                    }
                    else if(action == "del"){
                        $('#favoriteDelSuc').modal('show');
                    }
                }
                //如果没登陆
                if(data.processResult == false && data.error == "needLogin"){
                    $("#favoriteLoginError").modal("show");
                }

            }
        );
    }

    $('#favoriteAddSuc').on('hidden', function() {
        refreshPage();
    });
    $('#favoriteDelSuc').on('hidden', function() {
        refreshPage();
    });
    $('#favoriteLoginError').on('hidden',function(){
        $("#loginModal").modal("show");
    });

    // 提交筛选事件
    function conditionSelect(type,value,needSubmit,needInitPage){
      $("#form_" + type).val(value);
      
      if(needInitPage){
        $("#form_pageIndex").val('');
      }
      
      if(needSubmit == true){
        //等待
        $("#carModelView").load('/spin.html');
        //刷新
        refreshPage();
      }
      return false;
    }

    function refreshPage(){
        $("#carModelView").load("./cardata?type=getCarModelPagination",$("#conditionform").serialize());
    }
    
    //排序事件
    var currentPrice = '';
    function orderSelect(type,id){
        //三种情况：无排序,正序，倒序,其中销量只有无排序和正序
        if(type == 'sellNum'){
            if($("#orderByName").val() == 'sellNum'){
                //do nothing
            }
            else{
                conditionSelect('orderByName','sellNum',false,false);
                conditionSelect('orderType','asc',true,true);
            }
        }
        else if(type == 'price'){
            var ordertype;
            if($("#form_orderByName").val() == 'price'){
                if($("#form_orderType").val() == 'asc'){
                    ordertype = "desc";
                }
                else{
                    ordertype = "asc";
                }
            }
            else{
                ordertype = "asc";
            }
            conditionSelect('orderByName','price',false,false);
            conditionSelect('orderType',ordertype,true,true);
        }
        return false;
    }
    
    // 汽车图片浮动效果
    $("div[name='hoverdiv']").each(function(index,value){
      $(value).hover(function(){
        $(this).find("div[name='imgdiv']").fadeTo(100,0.1);
        $(this).find("div[name='coverdiv']").fadeToggle(100);
      },function(){
        $(this).find("div[name='imgdiv']").fadeTo(100,1);
        $(this).find("div[name='coverdiv']").fadeToggle(100);
      });
    });
    
    //下拉框鼠标悬停即打开
    $("#carFilter a.dropdown-toggle").bind("mouseenter",function(){
        $(this).click();
    });