.navbar.navbar-inverse(style="margin-bottom: 79px;")
  .navbar-inner(style="height: 58px")
    .container(style="margin-bottom: 0px;margin-top: 0px")
      div.brand
        img(src="img/logo2.png",alt="logo",width="100px",height="40px")
      ul.nav(style="margin-bottom: 5px;margin-top: 18px")
        li(style="padding: 0px 5px;")
          .nav-collapse.collapse
            ul.nav
                li
                  a.dropdown-toggle(data-toggle='dropdown', href='/',id="navCarLink") 汽车频道
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li.dropdown-submenu
                      a(tabindex="-1",href='#') 城市
                      ul.dropdown-menu
                        li
                           a(href="#",onClick="conditionSelect('city','',true,true);",style="color: #FFFFFF;padding-left: 7px;") 不限
                        each dicCity in allDicCitys
                           li
                             a(href="#",onClick="conditionSelect('city','#{dicCity.id}',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                                 if !!session.conditionParams  && dicCity.id == session.conditionParams.city
                                     span(style="color: rgb(170, 61, 70);")= dicCity.cityCname
                                 else
                                     | #{dicCity.cityCname}
                    li.dropdown-submenu
                      a(tabindex="-1",href='#') 品牌
                      ul.dropdown-menu
                        li
                          a(href="#",,onClick="conditionSelect('carModel','',false);conditionSelect('carBrand','',true);",style="color: #FFFFFF;padding-left: 7px;") 不限
                        each brand in allBrands
                          li.dropdown-submenu
                            a(href="#",onClick="conditionSelect('carModel','',false);conditionSelect('carBrand','#{brand.id}',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                              if !!session.conditionParams  &&  brand.id == session.conditionParams.carBrand
                                span(style="color: rgb(170, 61, 70);")= brand.cname 
                              else
                                | #{brand.cname}
                            ul.dropdown-menu
                              li
                                a(href="#",onClick="conditionSelect('carModel','',true,true);",style="color: #FFFFFF;padding-left: 7px;") 不限
                              each carModelLv1 in brand.carModelLv1List
                                li
                                  a(href="#",onClick="conditionSelect('carModel','#{carModelLv1.id}',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                                     if carModelLv1.id == session.conditionParams.carModelLv1
                                         span(style="color: rgb(170, 61, 70);")= carModelLv1.cname
                                     else
                                         | #{carModelLv1.cname}
                    li.dropdown-submenu
                      a(tabindex="-1",href='#') 价格
                      ul.dropdown-menu
                         li
                           a(href="#",onClick="conditionSelect('priceMin','',false);conditionSelect('priceMax','',true,true);",style="color: #FFFFFF;padding-left: 7px;") 不限
                         li
                           a(href="#",onClick="conditionSelect('priceMin','1',false);conditionSelect('priceMax','5',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                               if session.conditionParams.priceMax == 5
                                  h4(style="color: rgb(170, 61, 70);") 1万 ~ 5万
                               else
                                  | 1万 ~ 5万
                         li
                           a(href="#",onClick="conditionSelect('priceMin','5',false);conditionSelect('priceMax','10',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                               if session.conditionParams.priceMax == 10
                                   h4(style="color: rgb(170, 61, 70);") 5万 ~ 10万
                               else
                                   | 5万 ~ 10万
                         li
                           a(href="#",onClick="conditionSelect('priceMin','10',false);conditionSelect('priceMax','20',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                               if session.conditionParams.priceMax == 20
                                   h4(style="color: rgb(170, 61, 70);") 10万 ~ 20万
                               else
                                   | 10万 ~ 20万
                         li
                           a(href="#",onClick="conditionSelect('priceMin','20',false);conditionSelect('priceMax','50',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                               if session.conditionParams.priceMax == 50
                                   h4(style="color: rgb(170, 61, 70);") 20万 ~ 50万
                               else
                                   | 20万 ~ 50万
                         li
                           a(href="#",onClick="conditionSelect('priceMin','50',false);conditionSelect('priceMax','',true,true);",style="color: #FFFFFF;padding-left: 7px;")
                               if session.conditionParams.priceMin == 50
                                   h4(style="color: rgb(170, 61, 70);") 50万以上
                               else
                                   | 50万以上
        li(style="padding: 0px 5px;")
          a(href='/shoplist') 4s店频道
        li(style="padding: 0px 5px;")
          a(href='/buildingl') 移动应用
        li(style="padding: 0px 5px;")
          a(href='/building') 关于我们
      ul.nav.pull-right(style="margin-top:15px")
        li
          if !session.currentUser
            if !session.currentShop
              a(href="#loginModal",role="button",data-toggle="modal") <img src="img/login.png" alt="logo"> 登陆 <img src="img/rss.png" alt="登陆">
            -else
              a(href="/shophome",role="button",data-toggle="modal") 4s店管理页面
          -else
            a(href="#",role="button",data-toggle="modal") 您好，#{session.currentUser.userName}!
include user

script.
  $(function(){
    var path = window.location.pathname;
    $($("ul.nav li a[href='" + path + "']").parents('li')).addClass('active')
  });
  $("#navCarLink").bind("mouseenter",function(){
    $(this).click();
  });

